<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="InterfacesConfiguration" type="Wegmans.InterfaceEngine.Core.InterfacesConfigurationSection,Wegmans.InterfaceEngine.Core" />
		<section name="engineHost" type="Wegmans.PharmacyLibrary.ETL.RxEngineHostConfigurationSection, Wegmans.PharmacyLibrary.ETL" />
		<sectionGroup name="wegmans.enterpriseLibrary">
			<section name="logging" type="Wegmans.EnterpriseLibrary.Logging.Configuration.LoggingConfigurationSection, Wegmans.EnterpriseLibrary.Logging" />
		</sectionGroup>
	</configSections>
	<wegmans.enterpriseLibrary>
		<logging>
			<providers>
				<add name="TraceSourceProvider" type="Wegmans.PharmacyLibrary.Logging.RxTraceSourceProvider, Wegmans.PharmacyLibrary.Logging" format="Custom" customPattern="%timestamp: %message %exception"/>
			</providers>
		</logging>
	</wegmans.enterpriseLibrary>
	<appSettings>
		<!-- Table Storage -->
		<add key="ETL.StorageAccount" value="DefaultEndpointsProtocol=https;AccountName=rxetlstgdev;AccountKey=8BPBfXA9W/33+ZF9JVwHAE/VHSckZcMXT65EE0NHXekJvCdPYKBaD+uYfJ2aWsWdCO/OZvrYshTnRMzfNfSVZQ==;EndpointSuffix=core.windows.net"/>
		<add key="ETL.JobSettingsTable" value="JobSettings"/>
		<add key="JobSettings.PrefixPartitonKeyWithMachineName" value="true"/>
		<add key="TransactionScopeTimeoutSeconds" value="600"/>
		<!-- Use this setting (600 seconds) if submitting Insert,Update,Delete SQL and may need to rollback on execptions. -->
		<add key="OracleConfiguration_TnsDescriptor_ERx" value="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=206.227.246.65)(PORT=9002)))(CONNECT_DATA=(SID=dwwegu01)))"/>
		<!-- 
		<add key="OracleConfiguration_TnsDescriptor_Scripts" value="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=aorascriptst.wfm.wegmans.com)(PORT=1527)))(CONNECT_DATA=(SERVICE_NAME=scriptst.wfm.wegmans.com)))"/>
		<add key="OracleConfiguration_TnsDescriptor_Specialty" value="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=aorascriptst.wfm.wegmans.com)(PORT=1527)))(CONNECT_DATA=(SERVICE_NAME=scriptst.wfm.wegmans.com)))"/>
		 -->
		<add key="OracleConfiguration_CommandTimeout" value="0"/>
		<!-- Set to 0 seconds for no timeout (take as long as you want). -->
		<add key="OracleConfiguration_TraceOption" value="1"/>
		<add key="OracleConfiguration_TraceFileLocation" value="C:\temp"/>
		<add key="OracleConfiguration_TraceLevel" value="0"/>
		<add key="OracleConfiguration_WalletLocation" value="C:\oracle\wallet\data"/>
		<add key="OracleConfiguration_TnsAdmin" value="C:\oracle\network\Admin"/>

		<!-- Settings for sending emails.
         Mail Addresses values should be comma separated having display names in escaped quotes (&quot;) surrounding display names, and having escaped tags (&lt; and &gt;) surrounding email addresses. 
         Proper syntax example: value="&quot;Pharmacy Development, The Worlds Best!&quot; &lt;Pharmacy.Development@wegmans.com&gt;, &quot;McCarthy, Chris&quot; &lt;Chris.McCarthy@wegmans.com&gt;"
    -->
		<add key="CRX542.EmailFrom" value="PharmacyIT@wegmans.com"/>
		<add key="CRX542.EmailToCSV" value="Chris.McCarthy@wegmans.com"/>
		<add key="CRX542.EmailCcCSV" value=""/>
		<add key="CRX542.EmailBccCSV" value=""/>
		<add key="CRX582.EmailFrom" value="PharmacyIT@wegmans.com"/>
		<add key="CRX582.EmailToCSV" value="Chris.McCarthy@wegmans.com"/>
		<add key="CRX582.EmailCcCSV" value=""/>
		<add key="CRX582.EmailBccCSV" value=""/>
		<add key="RXS516_EmailFrom" value="PharmacyIT@wegmans.com"/>
		<add key="RXS516_RXBSTEmailFrom" value="PharmacyBusinessSo@wegmans.com"/>
		<add key="RXS516_StoreEmailToCSV" value="PharmacyIT@wegmans.com"/>
		<add key="RXS516_AdminEmailToCSV" value="PharmacyIT@wegmans.com"/>
		<add key="RXS516_EmailCcCSV" value=""/>
		<add key="RXS516_EmailBccCSV" value=""/>
		<add key="RXS516_AlertThreshhold" value="1"/>
		<add key="RXS573.ALL.EmailFrom" value="PharmacyIT@wegmans.com"/>
		<add key="RXS573.ALL.EmailToCSV" value="pharmacymanager.store086@wegmans.com,Chris.Gardiner@wegmans.com"/>
		<add key="RXS573.ALL.EmailCcCSV" value="Kristin.Ashby@wegmans.com"/>
		<add key="RXS573.ALL.EmailBccCSV" value="PharmacyIT@wegmans.com"/>
		<add key="RXS573.EXCELLUS.EmailFrom" value="PharmacyIT@wegmans.com"/>
		<add key="RXS573.EXCELLUS.EmailToCSV" value="pharmacymanager.store086@wegmans.com,Chris.Gardiner@wegmans.com"/>
		<add key="RXS573.EXCELLUS.EmailCcCSV" value="Kristin.Ashby@wegmans.com"/>
		<add key="RXS573.EXCELLUS.EmailBccCSV" value="PharmacyIT@wegmans.com"/>
		<add key="RXS573.HEALTHNOW.EmailFrom" value="PharmacyIT@wegmans.com"/>
		<add key="RXS573.HEALTHNOW.EmailToCSV" value="pharmacymanager.store086@wegmans.com,Chris.Gardiner@wegmans.com"/>
		<add key="RXS573.HEALTHNOW.EmailCcCSV" value="Kristin.Ashby@wegmans.com"/>
		<add key="RXS573.HEALTHNOW.EmailBccCSV" value="PharmacyIT@wegmans.com"/>
		<add key="RXS573.IHA.EmailFrom" value="PharmacyIT@wegmans.com"/>
		<add key="RXS573.IHA.EmailToCSV" value="pharmacymanager.store086@wegmans.com,Chris.Gardiner@wegmans.com,Lauren.Christman@independenthealth.com"/>
		<add key="RXS573.IHA.EmailCcCSV" value="Kristin.Ashby@wegmans.com"/>
		<add key="RXS573.IHA.EmailBccCSV" value="PharmacyIT@wegmans.com"/>
		<add key="RXS625.EmailFrom" value="PharmacyIT@wegmans.com"/>
		<add key="RXS625.EmailToCSV" value="442502@wegmans.com"/>
		<add key="RXS625.EmailCcCSV" value=""/>
		<add key="RXS625.EmailBccCSV" value=""/>
		<add key="RXS777.EmailFrom" value="PharmacyIT@wegmans.com"/>
		<add key="RXS777.EmailToCSV" value="Chris.McCarthy@wegmans.com"/>
		<add key="RXS777.EmailCcCSV" value=""/>
		<add key="RXS777.EmailBccCSV" value=""/>
		<add key="RXS812.EmailFrom" value="PharmacyIT@wegmans.com"/>
		<add key="RXS812.EmailToCSV" value="Chris.McCarthy@wegmans.com"/>
		<add key="RXS812.EmailCcCSV" value=""/>
		<add key="RXS812.EmailBccCSV" value=""/>
		<add key="RXS812.SQL.PrescriberNpiCSV" value="1073541546,1831304609,1619966959"/>
		<add key="RXS812.SQL.NdcCSV" value="00093216519,00093216568,00409121501,00409121521,00409121525,00781717606,00781717612,45802081100,45802081184,67457029200,67457029202,67457059900,67457059902,69547035302"/>
		<add key="RXS812.SQL.ReportingName" value="Wegmans"/>
		<add key="RXS812.SQL.ReportingPhone" value="585.429.3699"/>
		<add key="RXS812.SQL.ReportingEmail" value="ITSupport@wegmans.com; PharmacyIT@wegmans.com"/>
		<add key="JobNotifier.EmailFrom" value="ITTCSPharmacySupport@wegmans.com"/>
		<add key="JobNotifier.EmailToCSV" value="Chris.McCarthy@wegmans.com"/>
		<add key="JobNotifier.EmailCcCSV" value=""/>
		<add key="JobNotifier.EmailBccCSV" value=""/>
		<add key="EmailHost" value="smtp.wegmans.com"/>
		<add key="EmailPort" value="25"/>

		<!-- McKesson Pharmacy Systems Web Service (API) -->
		<add key="RXS516_FinalizationURL" value="https://entrx-xrt3.enterpriserx.ndchealth.com:15300/wegu01/TRexOneSoap/pos"/>
		<add key="RXS516_ERxCert_path" value="SecureCerts\interface_wegmans.cer"/>

		<!-- There is a limit on how many 1010data users may log in at the same time. -->
		<add key="Max1010ConcurrentUsers" value="15"/>

		<add key="HighPriorityBatchJobsCSV" value="CRX001,CRX503,CRX512,CRX610,CRX612,CRX622,CRX650,RXS528,RXS577,RXS579,RXS611,RXS618,RXS650"/>
	</appSettings>
	<connectionStrings>
		<add name="EDW_RX_NETEZZA" providerName="System.Data.OleDb" connectionString="Data Source=ANZPEDW; User ID=AZURE_NETZ_WEG_BATCH_ID; Password=AZURE_NETZ_WEG_BATCH_SECRET; Initial Catalog=AZURE_NETZ_WEG_BATCH_DB; Provider=NZOLEDB; Persist Security Info=True;" />
		<add name="ENTERPRISE_RX_AZURE" providerName="System.Data.SqlClient" connectionString="Server=tcp:cps-dw-uat.database.windows.net,1433;Initial Catalog=CPS;Persist Security Info=False;User id=cps_weg_batch;Password=AZURE_CPS_WEG_BATCH_SECRET;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
		<add name="ENTERPRISE_RX" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=ENTERPRISE_RX; User id=/;" />
		<add name="BOTTLES" providerName="System.Data.SqlClient" connectionString="Data Source=wfm-it-db-01;Initial Catalog=ContainerReturns;Integrated Security=SSPI;" />
		<add name="GMS" providerName="System.Data.SqlClient" connectionString="Data Source=wcn-spo-db-01,10425;Initial Catalog=Gratuity;Integrated Security=SSPI;" />

		<!-- 
		<add name="SCRIPTS_BATCH" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=SCRIPTS_BATCH; User id=/;" />
		<add name="RXSPECIALTY_BATCH" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=RXSPECIALTY_APP; User id=/;" />
		-->
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Wegmans.Metabase.Diagnostics" publicKeyToken="37351cb07f33d6d5" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Wegmans.EnterpriseLibrary.Extensions" publicKeyToken="f1cb8721b16ec1b7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.9.1.0" newVersion="4.9.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Wegmans.EnterpriseLibrary" publicKeyToken="f1cb8721b16ec1b7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.9.1.0" newVersion="4.9.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.3.2.0" newVersion="9.3.2.0" />
			</dependentAssembly>
		</assemblyBinding>
		<loadFromRemoteSources enabled="true" />
	</runtime>
	<engineHost applicationId="1" eventSource="InterfaceEngine" sleepTime="300000" retries="1" mailboxPath="..\data" mailboxPurgeDays="21" instrumentationKey="30691570-b1f9-4247-ba79-1b7a89167a9f" />
	<!--<InterfacesConfiguration>
    <Interfaces>
      <Interface Name="TestInterface" ApplicationID="1" />
    </Interfaces>
  </InterfacesConfiguration>-->
	<system.diagnostics>
		<trace>
			<listeners>
				<add name="appinsights" />
				<add name="ConsoleListener" />
				<remove name="Default" />
			</listeners>
		</trace>
		<sources>
			<source name="Metabase" switchName="MetabaseSwitch">
				<listeners>
					<add name="appinsights" />
					<add name="ConsoleListener" />
					<remove name="Default" />
				</listeners>
			</source>
			<source name="DefaultLogger" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="appinsights" />
					<add name="ConsoleListener" />
					<remove name="Default" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="sourceSwitch" value="Verbose"/>
			<add name="MetabaseSwitch" value="Verbose" />
		</switches>
		<sharedListeners>
			<add name="appinsights" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener"/>
			<add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
			<add name="LogFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="log.log" />
		</sharedListeners>
	</system.diagnostics>


</configuration>
