<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Enterprise Library" value="https://wegmans.pkgs.visualstudio.com/_packaging/EnterpriseLibrary/nuget/v3/index.json" />
    <!-- also get packages from the NuGet Gallery -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>