{
  "swagger": "2.0",
  "info": {
    "title": "Price",
    "version": "1.0"
  },
  "host": "wegmans-es.azure-api.net",
  "basePath": "/price",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Price-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    },
    "oauth2Azure Active Directory": {
      "type": "oauth2",
      "scopes": {},
      "flow": "application",
      "tokenUrl": "https://login.microsoftonline.com/1318d57f-757b-45b3-b1b0-9b3c3842774f/oauth2/token"
    }
  },
  "security": [
    {
      "apiKeyHeader": [],
      "oauth2Azure Active Directory": []
    },
    {
      "apiKeyQuery": [],
      "oauth2Azure Active Directory": []
    }
  ],
  "paths": {
    "/admin/coupons/{couponNumber}": {
      "get": {
        "description": "Gets a coupon with its associated skus, zones, and store overrides.",
        "operationId": "Coupons",
        "summary": "Coupons",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "name": "couponNumber",
            "in": "path",
            "description": "Format - int32. Coupon Number",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CouponHeader"
            },
            "examples": {
              "application/json": {
                "StartDate": "string",
                "EndDate": "string",
                "DeliveryMode": "string",
                "ValueMode": "string",
                "Family": "string",
                "IsShoppersClub": 0,
                "IsQuantityEnforced": true,
                "MaxRedemptions": 0,
                "MinQuantity": 0,
                "IsCardRequired": true,
                "Barcode": "string",
                "Description": "string",
                "Department": 0,
                "Category": 0,
                "Class": 0,
                "DigitalOfferId": "string",
                "CouponNumber": 0,
                "Copy": "string",
                "PaymentMethod": "string",
                "PayToVendorNumber": "string",
                "PromotionIdentifier": 0,
                "RedemptionChargeAmount": 0.0,
                "ParticipationLevel": 0,
                "SupplierCopay": 0.0,
                "IsMinimumSaleRequired": true,
                "MinimumRequiredSaleAmount": 0.0,
                "Items": [
                  {
                    "Sku": 0,
                    "Description": "string",
                    "Department": 0,
                    "Category": 0,
                    "Class": 0
                  }
                ],
                "Zones": [
                  {
                    "ZoneNumber": 0,
                    "CouponValue": 0.0,
                    "BuyQuantity": 0,
                    "GetQuantity": 0,
                    "MinQuantity": 0
                  }
                ],
                "StoreOverrides": [
                  {
                    "StoreNumber": 0,
                    "CouponValue": 0.0,
                    "BuyQuantity": 0,
                    "GetQuantity": 0,
                    "MinQuantity": 0
                  }
                ],
                "VendorAllowanceBasisCode": "string",
                "Sku": 0,
                "ShoppersClubDiscountCategoryCode": "string",
                "IsCanceled": true
              },
              "text/json": {
                "StartDate": "string",
                "EndDate": "string",
                "DeliveryMode": "string",
                "ValueMode": "string",
                "Family": "string",
                "IsShoppersClub": 0,
                "IsQuantityEnforced": true,
                "MaxRedemptions": 0,
                "MinQuantity": 0,
                "IsCardRequired": true,
                "Barcode": "string",
                "Description": "string",
                "Department": 0,
                "Category": 0,
                "Class": 0,
                "DigitalOfferId": "string",
                "CouponNumber": 0,
                "Copy": "string",
                "PaymentMethod": "string",
                "PayToVendorNumber": "string",
                "PromotionIdentifier": 0,
                "RedemptionChargeAmount": 0.0,
                "ParticipationLevel": 0,
                "SupplierCopay": 0.0,
                "IsMinimumSaleRequired": true,
                "MinimumRequiredSaleAmount": 0.0,
                "Items": [
                  {
                    "Sku": 0,
                    "Description": "string",
                    "Department": 0,
                    "Category": 0,
                    "Class": 0
                  }
                ],
                "Zones": [
                  {
                    "ZoneNumber": 0,
                    "CouponValue": 0.0,
                    "BuyQuantity": 0,
                    "GetQuantity": 0,
                    "MinQuantity": 0
                  }
                ],
                "StoreOverrides": [
                  {
                    "StoreNumber": 0,
                    "CouponValue": 0.0,
                    "BuyQuantity": 0,
                    "GetQuantity": 0,
                    "MinQuantity": 0
                  }
                ],
                "VendorAllowanceBasisCode": "string",
                "Sku": 0,
                "ShoppersClubDiscountCategoryCode": "string",
                "IsCanceled": true
              },
              "application/xml": "<CouponHeader>\r\n  <StartDate>string</StartDate>\r\n  <EndDate>string</EndDate>\r\n  <DeliveryMode>string</DeliveryMode>\r\n  <ValueMode>string</ValueMode>\r\n  <Family>string</Family>\r\n  <IsShoppersClub>0</IsShoppersClub>\r\n  <IsQuantityEnforced>true</IsQuantityEnforced>\r\n  <MaxRedemptions>0</MaxRedemptions>\r\n  <MinQuantity>0</MinQuantity>\r\n  <IsCardRequired>true</IsCardRequired>\r\n  <Barcode>string</Barcode>\r\n  <Description>string</Description>\r\n  <Department>0</Department>\r\n  <Category>0</Category>\r\n  <Class>0</Class>\r\n  <DigitalOfferId>string</DigitalOfferId>\r\n  <CouponNumber>0</CouponNumber>\r\n  <Copy>string</Copy>\r\n  <PaymentMethod>string</PaymentMethod>\r\n  <PayToVendorNumber>string</PayToVendorNumber>\r\n  <PromotionIdentifier>0</PromotionIdentifier>\r\n  <RedemptionChargeAmount>0</RedemptionChargeAmount>\r\n  <ParticipationLevel>0</ParticipationLevel>\r\n  <SupplierCopay>0</SupplierCopay>\r\n  <IsMinimumSaleRequired>true</IsMinimumSaleRequired>\r\n  <MinimumRequiredSaleAmount>0</MinimumRequiredSaleAmount>\r\n  <Items>\r\n    <Sku>0</Sku>\r\n    <Description>string</Description>\r\n    <Department>0</Department>\r\n    <Category>0</Category>\r\n    <Class>0</Class>\r\n  </Items>\r\n  <Zones>\r\n    <ZoneNumber>0</ZoneNumber>\r\n    <CouponValue>0</CouponValue>\r\n    <BuyQuantity>0</BuyQuantity>\r\n    <GetQuantity>0</GetQuantity>\r\n    <MinQuantity>0</MinQuantity>\r\n  </Zones>\r\n  <StoreOverrides>\r\n    <StoreNumber>0</StoreNumber>\r\n    <CouponValue>0</CouponValue>\r\n    <BuyQuantity>0</BuyQuantity>\r\n    <GetQuantity>0</GetQuantity>\r\n    <MinQuantity>0</MinQuantity>\r\n  </StoreOverrides>\r\n  <VendorAllowanceBasisCode>string</VendorAllowanceBasisCode>\r\n  <Sku>0</Sku>\r\n  <ShoppersClubDiscountCategoryCode>string</ShoppersClubDiscountCategoryCode>\r\n  <IsCanceled>true</IsCanceled>\r\n</CouponHeader>",
              "text/xml": "<CouponHeader>\r\n  <StartDate>string</StartDate>\r\n  <EndDate>string</EndDate>\r\n  <DeliveryMode>string</DeliveryMode>\r\n  <ValueMode>string</ValueMode>\r\n  <Family>string</Family>\r\n  <IsShoppersClub>0</IsShoppersClub>\r\n  <IsQuantityEnforced>true</IsQuantityEnforced>\r\n  <MaxRedemptions>0</MaxRedemptions>\r\n  <MinQuantity>0</MinQuantity>\r\n  <IsCardRequired>true</IsCardRequired>\r\n  <Barcode>string</Barcode>\r\n  <Description>string</Description>\r\n  <Department>0</Department>\r\n  <Category>0</Category>\r\n  <Class>0</Class>\r\n  <DigitalOfferId>string</DigitalOfferId>\r\n  <CouponNumber>0</CouponNumber>\r\n  <Copy>string</Copy>\r\n  <PaymentMethod>string</PaymentMethod>\r\n  <PayToVendorNumber>string</PayToVendorNumber>\r\n  <PromotionIdentifier>0</PromotionIdentifier>\r\n  <RedemptionChargeAmount>0</RedemptionChargeAmount>\r\n  <ParticipationLevel>0</ParticipationLevel>\r\n  <SupplierCopay>0</SupplierCopay>\r\n  <IsMinimumSaleRequired>true</IsMinimumSaleRequired>\r\n  <MinimumRequiredSaleAmount>0</MinimumRequiredSaleAmount>\r\n  <Items>\r\n    <Sku>0</Sku>\r\n    <Description>string</Description>\r\n    <Department>0</Department>\r\n    <Category>0</Category>\r\n    <Class>0</Class>\r\n  </Items>\r\n  <Zones>\r\n    <ZoneNumber>0</ZoneNumber>\r\n    <CouponValue>0</CouponValue>\r\n    <BuyQuantity>0</BuyQuantity>\r\n    <GetQuantity>0</GetQuantity>\r\n    <MinQuantity>0</MinQuantity>\r\n  </Zones>\r\n  <StoreOverrides>\r\n    <StoreNumber>0</StoreNumber>\r\n    <CouponValue>0</CouponValue>\r\n    <BuyQuantity>0</BuyQuantity>\r\n    <GetQuantity>0</GetQuantity>\r\n    <MinQuantity>0</MinQuantity>\r\n  </StoreOverrides>\r\n  <VendorAllowanceBasisCode>string</VendorAllowanceBasisCode>\r\n  <Sku>0</Sku>\r\n  <ShoppersClubDiscountCategoryCode>string</ShoppersClubDiscountCategoryCode>\r\n  <IsCanceled>true</IsCanceled>\r\n</CouponHeader>"
            }
          }
        }
      }
    },
    "/cart/total": {
      "post": {
        "description": "Get total price for a cart by sku",
        "operationId": "Calculate-Cart-Total",
        "summary": "Calculate Cart Total",
        "tags": [
          "Cart"
        ],
        "parameters": [
          {
            "name": "cartRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CartRequest"
            },
            "description": "Cart resource"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CartTotal"
            },
            "examples": {
              "application/json": {
                "LineItems": [
                  {
                    "Sku": 0,
                    "Quantity": 0,
                    "Weight": 0.0,
                    "AverageWeight": 0.0,
                    "Promotions": [
                      {
                        "CouponId": 0,
                        "Description": "string",
                        "BuyQuantity": 0,
                        "GetQuantity": 0,
                        "Value": 0.0
                      }
                    ],
                    "Price": 0.0,
                    "PriceDetail": {
                      "Price": 0.0,
                      "Quantity": 0,
                      "UnitQuantity": 0,
                      "UnitQuantityDecimal": 0.0,
                      "UnitOfMeasure": "string",
                      "UnitPrice": 0.0,
                      "UnitPriceUnitOfMeasure": "string",
                      "PriceStartDate": "string",
                      "PriceEndDate": "string",
                      "HasPromotion": 0,
                      "CouponId": 0,
                      "IsCouponShoppersClub": 0,
                      "PromotionalPrice": 0.0,
                      "PromotionalQuantity": 0,
                      "PromotionStartDate": "string",
                      "PromotionEndDate": "string",
                      "Display": "string",
                      "Conditions": "string",
                      "CouponCartMinimum": 0.0,
                      "CouponMinQuantity": 0,
                      "CouponMaxRedemptions": 0,
                      "CouponValueMode": "string",
                      "IsCouponQuantityEnforced": 0
                    },
                    "Links": [
                      {
                        "Rel": "string",
                        "HRef": "string",
                        "Method": "string"
                      }
                    ]
                  }
                ],
                "Total": 0.0,
                "InvalidItems": [
                  {
                    "Sku": 0,
                    "Quantity": 0,
                    "Weight": 0.0,
                    "AverageWeight": 0.0,
                    "Promotions": [
                      {
                        "CouponId": 0,
                        "Description": "string",
                        "BuyQuantity": 0,
                        "GetQuantity": 0,
                        "Value": 0.0
                      }
                    ],
                    "Price": 0.0,
                    "PriceDetail": {
                      "Price": 0.0,
                      "Quantity": 0,
                      "UnitQuantity": 0,
                      "UnitQuantityDecimal": 0.0,
                      "UnitOfMeasure": "string",
                      "UnitPrice": 0.0,
                      "UnitPriceUnitOfMeasure": "string",
                      "PriceStartDate": "string",
                      "PriceEndDate": "string",
                      "HasPromotion": 0,
                      "CouponId": 0,
                      "IsCouponShoppersClub": 0,
                      "PromotionalPrice": 0.0,
                      "PromotionalQuantity": 0,
                      "PromotionStartDate": "string",
                      "PromotionEndDate": "string",
                      "Display": "string",
                      "Conditions": "string",
                      "CouponCartMinimum": 0.0,
                      "CouponMinQuantity": 0,
                      "CouponMaxRedemptions": 0,
                      "CouponValueMode": "string",
                      "IsCouponQuantityEnforced": 0
                    },
                    "Links": [
                      {
                        "Rel": "string",
                        "HRef": "string",
                        "Method": "string"
                      }
                    ]
                  }
                ]
              },
              "text/json": {
                "LineItems": [
                  {
                    "Sku": 0,
                    "Quantity": 0,
                    "Weight": 0.0,
                    "AverageWeight": 0.0,
                    "Promotions": [
                      {
                        "CouponId": 0,
                        "Description": "string",
                        "BuyQuantity": 0,
                        "GetQuantity": 0,
                        "Value": 0.0
                      }
                    ],
                    "Price": 0.0,
                    "PriceDetail": {
                      "Price": 0.0,
                      "Quantity": 0,
                      "UnitQuantity": 0,
                      "UnitQuantityDecimal": 0.0,
                      "UnitOfMeasure": "string",
                      "UnitPrice": 0.0,
                      "UnitPriceUnitOfMeasure": "string",
                      "PriceStartDate": "string",
                      "PriceEndDate": "string",
                      "HasPromotion": 0,
                      "CouponId": 0,
                      "IsCouponShoppersClub": 0,
                      "PromotionalPrice": 0.0,
                      "PromotionalQuantity": 0,
                      "PromotionStartDate": "string",
                      "PromotionEndDate": "string",
                      "Display": "string",
                      "Conditions": "string",
                      "CouponCartMinimum": 0.0,
                      "CouponMinQuantity": 0,
                      "CouponMaxRedemptions": 0,
                      "CouponValueMode": "string",
                      "IsCouponQuantityEnforced": 0
                    },
                    "Links": [
                      {
                        "Rel": "string",
                        "HRef": "string",
                        "Method": "string"
                      }
                    ]
                  }
                ],
                "Total": 0.0,
                "InvalidItems": [
                  {
                    "Sku": 0,
                    "Quantity": 0,
                    "Weight": 0.0,
                    "AverageWeight": 0.0,
                    "Promotions": [
                      {
                        "CouponId": 0,
                        "Description": "string",
                        "BuyQuantity": 0,
                        "GetQuantity": 0,
                        "Value": 0.0
                      }
                    ],
                    "Price": 0.0,
                    "PriceDetail": {
                      "Price": 0.0,
                      "Quantity": 0,
                      "UnitQuantity": 0,
                      "UnitQuantityDecimal": 0.0,
                      "UnitOfMeasure": "string",
                      "UnitPrice": 0.0,
                      "UnitPriceUnitOfMeasure": "string",
                      "PriceStartDate": "string",
                      "PriceEndDate": "string",
                      "HasPromotion": 0,
                      "CouponId": 0,
                      "IsCouponShoppersClub": 0,
                      "PromotionalPrice": 0.0,
                      "PromotionalQuantity": 0,
                      "PromotionStartDate": "string",
                      "PromotionEndDate": "string",
                      "Display": "string",
                      "Conditions": "string",
                      "CouponCartMinimum": 0.0,
                      "CouponMinQuantity": 0,
                      "CouponMaxRedemptions": 0,
                      "CouponValueMode": "string",
                      "IsCouponQuantityEnforced": 0
                    },
                    "Links": [
                      {
                        "Rel": "string",
                        "HRef": "string",
                        "Method": "string"
                      }
                    ]
                  }
                ]
              },
              "application/xml": "<CartTotal>\r\n  <LineItems>\r\n    <Sku>0</Sku>\r\n    <Quantity>0</Quantity>\r\n    <Weight>0</Weight>\r\n    <AverageWeight>0</AverageWeight>\r\n    <Promotions>\r\n      <CouponId>0</CouponId>\r\n      <Description>string</Description>\r\n      <BuyQuantity>0</BuyQuantity>\r\n      <GetQuantity>0</GetQuantity>\r\n      <Value>0</Value>\r\n    </Promotions>\r\n    <Price>0</Price>\r\n    <PriceDetail>\r\n      <Price>0</Price>\r\n      <Quantity>0</Quantity>\r\n      <UnitQuantity>0</UnitQuantity>\r\n      <UnitQuantityDecimal>0</UnitQuantityDecimal>\r\n      <UnitOfMeasure>string</UnitOfMeasure>\r\n      <UnitPrice>0</UnitPrice>\r\n      <UnitPriceUnitOfMeasure>string</UnitPriceUnitOfMeasure>\r\n      <PriceStartDate>string</PriceStartDate>\r\n      <PriceEndDate>string</PriceEndDate>\r\n      <HasPromotion>0</HasPromotion>\r\n      <CouponId>0</CouponId>\r\n      <IsCouponShoppersClub>0</IsCouponShoppersClub>\r\n      <PromotionalPrice>0</PromotionalPrice>\r\n      <PromotionalQuantity>0</PromotionalQuantity>\r\n      <PromotionStartDate>string</PromotionStartDate>\r\n      <PromotionEndDate>string</PromotionEndDate>\r\n      <Display>string</Display>\r\n      <Conditions>string</Conditions>\r\n      <CouponCartMinimum>0</CouponCartMinimum>\r\n      <CouponMinQuantity>0</CouponMinQuantity>\r\n      <CouponMaxRedemptions>0</CouponMaxRedemptions>\r\n      <CouponValueMode>string</CouponValueMode>\r\n      <IsCouponQuantityEnforced>0</IsCouponQuantityEnforced>\r\n    </PriceDetail>\r\n    <Links>\r\n      <Rel>string</Rel>\r\n      <HRef>string</HRef>\r\n      <Method>string</Method>\r\n    </Links>\r\n  </LineItems>\r\n  <Total>0</Total>\r\n  <InvalidItems>\r\n    <Sku>0</Sku>\r\n    <Quantity>0</Quantity>\r\n    <Weight>0</Weight>\r\n    <AverageWeight>0</AverageWeight>\r\n    <Promotions>\r\n      <CouponId>0</CouponId>\r\n      <Description>string</Description>\r\n      <BuyQuantity>0</BuyQuantity>\r\n      <GetQuantity>0</GetQuantity>\r\n      <Value>0</Value>\r\n    </Promotions>\r\n    <Price>0</Price>\r\n    <PriceDetail>\r\n      <Price>0</Price>\r\n      <Quantity>0</Quantity>\r\n      <UnitQuantity>0</UnitQuantity>\r\n      <UnitQuantityDecimal>0</UnitQuantityDecimal>\r\n      <UnitOfMeasure>string</UnitOfMeasure>\r\n      <UnitPrice>0</UnitPrice>\r\n      <UnitPriceUnitOfMeasure>string</UnitPriceUnitOfMeasure>\r\n      <PriceStartDate>string</PriceStartDate>\r\n      <PriceEndDate>string</PriceEndDate>\r\n      <HasPromotion>0</HasPromotion>\r\n      <CouponId>0</CouponId>\r\n      <IsCouponShoppersClub>0</IsCouponShoppersClub>\r\n      <PromotionalPrice>0</PromotionalPrice>\r\n      <PromotionalQuantity>0</PromotionalQuantity>\r\n      <PromotionStartDate>string</PromotionStartDate>\r\n      <PromotionEndDate>string</PromotionEndDate>\r\n      <Display>string</Display>\r\n      <Conditions>string</Conditions>\r\n      <CouponCartMinimum>0</CouponCartMinimum>\r\n      <CouponMinQuantity>0</CouponMinQuantity>\r\n      <CouponMaxRedemptions>0</CouponMaxRedemptions>\r\n      <CouponValueMode>string</CouponValueMode>\r\n      <IsCouponQuantityEnforced>0</IsCouponQuantityEnforced>\r\n    </PriceDetail>\r\n    <Links>\r\n      <Rel>string</Rel>\r\n      <HRef>string</HRef>\r\n      <Method>string</Method>\r\n    </Links>\r\n  </InvalidItems>\r\n</CartTotal>",
              "text/xml": "<CartTotal>\r\n  <LineItems>\r\n    <Sku>0</Sku>\r\n    <Quantity>0</Quantity>\r\n    <Weight>0</Weight>\r\n    <AverageWeight>0</AverageWeight>\r\n    <Promotions>\r\n      <CouponId>0</CouponId>\r\n      <Description>string</Description>\r\n      <BuyQuantity>0</BuyQuantity>\r\n      <GetQuantity>0</GetQuantity>\r\n      <Value>0</Value>\r\n    </Promotions>\r\n    <Price>0</Price>\r\n    <PriceDetail>\r\n      <Price>0</Price>\r\n      <Quantity>0</Quantity>\r\n      <UnitQuantity>0</UnitQuantity>\r\n      <UnitQuantityDecimal>0</UnitQuantityDecimal>\r\n      <UnitOfMeasure>string</UnitOfMeasure>\r\n      <UnitPrice>0</UnitPrice>\r\n      <UnitPriceUnitOfMeasure>string</UnitPriceUnitOfMeasure>\r\n      <PriceStartDate>string</PriceStartDate>\r\n      <PriceEndDate>string</PriceEndDate>\r\n      <HasPromotion>0</HasPromotion>\r\n      <CouponId>0</CouponId>\r\n      <IsCouponShoppersClub>0</IsCouponShoppersClub>\r\n      <PromotionalPrice>0</PromotionalPrice>\r\n      <PromotionalQuantity>0</PromotionalQuantity>\r\n      <PromotionStartDate>string</PromotionStartDate>\r\n      <PromotionEndDate>string</PromotionEndDate>\r\n      <Display>string</Display>\r\n      <Conditions>string</Conditions>\r\n      <CouponCartMinimum>0</CouponCartMinimum>\r\n      <CouponMinQuantity>0</CouponMinQuantity>\r\n      <CouponMaxRedemptions>0</CouponMaxRedemptions>\r\n      <CouponValueMode>string</CouponValueMode>\r\n      <IsCouponQuantityEnforced>0</IsCouponQuantityEnforced>\r\n    </PriceDetail>\r\n    <Links>\r\n      <Rel>string</Rel>\r\n      <HRef>string</HRef>\r\n      <Method>string</Method>\r\n    </Links>\r\n  </LineItems>\r\n  <Total>0</Total>\r\n  <InvalidItems>\r\n    <Sku>0</Sku>\r\n    <Quantity>0</Quantity>\r\n    <Weight>0</Weight>\r\n    <AverageWeight>0</AverageWeight>\r\n    <Promotions>\r\n      <CouponId>0</CouponId>\r\n      <Description>string</Description>\r\n      <BuyQuantity>0</BuyQuantity>\r\n      <GetQuantity>0</GetQuantity>\r\n      <Value>0</Value>\r\n    </Promotions>\r\n    <Price>0</Price>\r\n    <PriceDetail>\r\n      <Price>0</Price>\r\n      <Quantity>0</Quantity>\r\n      <UnitQuantity>0</UnitQuantity>\r\n      <UnitQuantityDecimal>0</UnitQuantityDecimal>\r\n      <UnitOfMeasure>string</UnitOfMeasure>\r\n      <UnitPrice>0</UnitPrice>\r\n      <UnitPriceUnitOfMeasure>string</UnitPriceUnitOfMeasure>\r\n      <PriceStartDate>string</PriceStartDate>\r\n      <PriceEndDate>string</PriceEndDate>\r\n      <HasPromotion>0</HasPromotion>\r\n      <CouponId>0</CouponId>\r\n      <IsCouponShoppersClub>0</IsCouponShoppersClub>\r\n      <PromotionalPrice>0</PromotionalPrice>\r\n      <PromotionalQuantity>0</PromotionalQuantity>\r\n      <PromotionStartDate>string</PromotionStartDate>\r\n      <PromotionEndDate>string</PromotionEndDate>\r\n      <Display>string</Display>\r\n      <Conditions>string</Conditions>\r\n      <CouponCartMinimum>0</CouponCartMinimum>\r\n      <CouponMinQuantity>0</CouponMinQuantity>\r\n      <CouponMaxRedemptions>0</CouponMaxRedemptions>\r\n      <CouponValueMode>string</CouponValueMode>\r\n      <IsCouponQuantityEnforced>0</IsCouponQuantityEnforced>\r\n    </PriceDetail>\r\n    <Links>\r\n      <Rel>string</Rel>\r\n      <HRef>string</HRef>\r\n      <Method>string</Method>\r\n    </Links>\r\n  </InvalidItems>\r\n</CartTotal>"
            }
          }
        }
      }
    },
    "/coupons/{sku}/{storeNumber}": {
      "get": {
        "description": "Get coupons for an item at a specified store numbers",
        "operationId": "Coupons-by-SKU-and-Store",
        "summary": "Coupons by SKU and Store",
        "tags": [
          "Coupon"
        ],
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "description": "Format - int32. Item Number",
            "required": true,
            "type": "integer"
          },
          {
            "name": "storeNumber",
            "in": "path",
            "description": "Format - int32. Store Number",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CouponArray"
            },
            "examples": {
              "application/json": [
                {
                  "Id": 0,
                  "StoreNumber": 0,
                  "Sku": 0,
                  "StartDate": "string",
                  "EndDate": "string",
                  "DeliveryMode": "string",
                  "ValueMode": "string",
                  "Family": "string",
                  "IsShoppersClub": 0,
                  "IsQuantityEnforced": true,
                  "MaxRedemptions": 0,
                  "CartMinimum": 0.0,
                  "MinQuantity": 0,
                  "Value": 0.0,
                  "BuyQuantity": 0,
                  "GetQuantity": 0,
                  "IsCardRequired": true,
                  "Barcode": "string",
                  "SupplierCopay": 0.0,
                  "Description": "string",
                  "Source": "string",
                  "Department": 0,
                  "Category": 0,
                  "Class": 0,
                  "DigitalOfferId": "string",
                  "CouponNumber": 0,
                  "VendorAllowanceBasisCode": "string",
                  "Links": [
                    {
                      "Rel": "string",
                      "HRef": "string",
                      "Method": "string"
                    }
                  ]
                }
              ],
              "text/json": [
                {
                  "Id": 0,
                  "StoreNumber": 0,
                  "Sku": 0,
                  "StartDate": "string",
                  "EndDate": "string",
                  "DeliveryMode": "string",
                  "ValueMode": "string",
                  "Family": "string",
                  "IsShoppersClub": 0,
                  "IsQuantityEnforced": true,
                  "MaxRedemptions": 0,
                  "CartMinimum": 0.0,
                  "MinQuantity": 0,
                  "Value": 0.0,
                  "BuyQuantity": 0,
                  "GetQuantity": 0,
                  "IsCardRequired": true,
                  "Barcode": "string",
                  "SupplierCopay": 0.0,
                  "Description": "string",
                  "Source": "string",
                  "Department": 0,
                  "Category": 0,
                  "Class": 0,
                  "DigitalOfferId": "string",
                  "CouponNumber": 0,
                  "VendorAllowanceBasisCode": "string",
                  "Links": [
                    {
                      "Rel": "string",
                      "HRef": "string",
                      "Method": "string"
                    }
                  ]
                }
              ],
              "application/xml": "<CouponArray>\r\n  <Id>0</Id>\r\n  <StoreNumber>0</StoreNumber>\r\n  <Sku>0</Sku>\r\n  <StartDate>string</StartDate>\r\n  <EndDate>string</EndDate>\r\n  <DeliveryMode>string</DeliveryMode>\r\n  <ValueMode>string</ValueMode>\r\n  <Family>string</Family>\r\n  <IsShoppersClub>0</IsShoppersClub>\r\n  <IsQuantityEnforced>true</IsQuantityEnforced>\r\n  <MaxRedemptions>0</MaxRedemptions>\r\n  <CartMinimum>0</CartMinimum>\r\n  <MinQuantity>0</MinQuantity>\r\n  <Value>0</Value>\r\n  <BuyQuantity>0</BuyQuantity>\r\n  <GetQuantity>0</GetQuantity>\r\n  <IsCardRequired>true</IsCardRequired>\r\n  <Barcode>string</Barcode>\r\n  <SupplierCopay>0</SupplierCopay>\r\n  <Description>string</Description>\r\n  <Source>string</Source>\r\n  <Department>0</Department>\r\n  <Category>0</Category>\r\n  <Class>0</Class>\r\n  <DigitalOfferId>string</DigitalOfferId>\r\n  <CouponNumber>0</CouponNumber>\r\n  <VendorAllowanceBasisCode>string</VendorAllowanceBasisCode>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</CouponArray>",
              "text/xml": "<CouponArray>\r\n  <Id>0</Id>\r\n  <StoreNumber>0</StoreNumber>\r\n  <Sku>0</Sku>\r\n  <StartDate>string</StartDate>\r\n  <EndDate>string</EndDate>\r\n  <DeliveryMode>string</DeliveryMode>\r\n  <ValueMode>string</ValueMode>\r\n  <Family>string</Family>\r\n  <IsShoppersClub>0</IsShoppersClub>\r\n  <IsQuantityEnforced>true</IsQuantityEnforced>\r\n  <MaxRedemptions>0</MaxRedemptions>\r\n  <CartMinimum>0</CartMinimum>\r\n  <MinQuantity>0</MinQuantity>\r\n  <Value>0</Value>\r\n  <BuyQuantity>0</BuyQuantity>\r\n  <GetQuantity>0</GetQuantity>\r\n  <IsCardRequired>true</IsCardRequired>\r\n  <Barcode>string</Barcode>\r\n  <SupplierCopay>0</SupplierCopay>\r\n  <Description>string</Description>\r\n  <Source>string</Source>\r\n  <Department>0</Department>\r\n  <Category>0</Category>\r\n  <Class>0</Class>\r\n  <DigitalOfferId>string</DigitalOfferId>\r\n  <CouponNumber>0</CouponNumber>\r\n  <VendorAllowanceBasisCode>string</VendorAllowanceBasisCode>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</CouponArray>"
            }
          }
        }
      }
    },
    "/pricing/current_prices/{sku}": {
      "get": {
        "description": "Get current item price by item number",
        "operationId": "Current-Price-by-SKU",
        "summary": "Current Price by SKU",
        "tags": [
          "Pricing"
        ],
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "description": "Format - int32. Item Number",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CurrentPriceArray"
            },
            "examples": {
              "application/json": [
                {
                  "StoreNumber": 0,
                  "StoreName": "string",
                  "Sku": 0,
                  "LeadSku": 0,
                  "Description": "string",
                  "IsSoldByRandomWeight": true,
                  "DepartmentId": 0,
                  "Price": 0.0,
                  "PromotionalPrice": 0.0,
                  "PromotionalQuantity": 0,
                  "PromotionStartDate": "string",
                  "PromotionEndDate": "string",
                  "HasDeposit": true,
                  "Quantity": 0,
                  "UnitQuantity": 0,
                  "UnitQuantityDecimal": 0.0,
                  "UnitOfMeasure": "string",
                  "Display": "string",
                  "UnitPrice": 0.0,
                  "UnitPriceUnitOfMeasure": "string",
                  "UnitDisplay": "string",
                  "PriceStartDate": "string",
                  "PriceEndDate": "string",
                  "PriceEffectiveDate": "string",
                  "PriceType": "string",
                  "HasPromotion": 0,
                  "AmountChanged": 0.0,
                  "PriceLastUpdatedDate": "string",
                  "CouponValueMode": "string",
                  "CouponFamily": "string",
                  "IsCouponShoppersClub": 0,
                  "IsCouponQuantityEnforced": 0,
                  "CouponMaxRedemptions": 0,
                  "CouponCartMinimum": 0.0,
                  "CouponMinQuantity": 0,
                  "CouponValue": 0.0,
                  "CouponBuy": 0,
                  "CouponGet": 0,
                  "PromotionType": "string",
                  "IsCouponCardRequired": 0,
                  "CouponUpc": 0,
                  "CouponStartDate": "string",
                  "CouponEndDate": "string",
                  "Conditions": "string",
                  "AdTypeCode": "string",
                  "AdLayoutCode": "string",
                  "AdQualityCode": "string",
                  "AdMerchandisingTypeCode": "string",
                  "AdPreorderCode": "string",
                  "Links": [
                    {
                      "Rel": "string",
                      "HRef": "string",
                      "Method": "string"
                    }
                  ]
                }
              ],
              "text/json": [
                {
                  "StoreNumber": 0,
                  "StoreName": "string",
                  "Sku": 0,
                  "LeadSku": 0,
                  "Description": "string",
                  "IsSoldByRandomWeight": true,
                  "DepartmentId": 0,
                  "Price": 0.0,
                  "PromotionalPrice": 0.0,
                  "PromotionalQuantity": 0,
                  "PromotionStartDate": "string",
                  "PromotionEndDate": "string",
                  "HasDeposit": true,
                  "Quantity": 0,
                  "UnitQuantity": 0,
                  "UnitQuantityDecimal": 0.0,
                  "UnitOfMeasure": "string",
                  "Display": "string",
                  "UnitPrice": 0.0,
                  "UnitPriceUnitOfMeasure": "string",
                  "UnitDisplay": "string",
                  "PriceStartDate": "string",
                  "PriceEndDate": "string",
                  "PriceEffectiveDate": "string",
                  "PriceType": "string",
                  "HasPromotion": 0,
                  "AmountChanged": 0.0,
                  "PriceLastUpdatedDate": "string",
                  "CouponValueMode": "string",
                  "CouponFamily": "string",
                  "IsCouponShoppersClub": 0,
                  "IsCouponQuantityEnforced": 0,
                  "CouponMaxRedemptions": 0,
                  "CouponCartMinimum": 0.0,
                  "CouponMinQuantity": 0,
                  "CouponValue": 0.0,
                  "CouponBuy": 0,
                  "CouponGet": 0,
                  "PromotionType": "string",
                  "IsCouponCardRequired": 0,
                  "CouponUpc": 0,
                  "CouponStartDate": "string",
                  "CouponEndDate": "string",
                  "Conditions": "string",
                  "AdTypeCode": "string",
                  "AdLayoutCode": "string",
                  "AdQualityCode": "string",
                  "AdMerchandisingTypeCode": "string",
                  "AdPreorderCode": "string",
                  "Links": [
                    {
                      "Rel": "string",
                      "HRef": "string",
                      "Method": "string"
                    }
                  ]
                }
              ],
              "application/xml": "<CurrentPriceArray>\r\n  <StoreNumber>0</StoreNumber>\r\n  <StoreName>string</StoreName>\r\n  <Sku>0</Sku>\r\n  <LeadSku>0</LeadSku>\r\n  <Description>string</Description>\r\n  <IsSoldByRandomWeight>true</IsSoldByRandomWeight>\r\n  <DepartmentId>0</DepartmentId>\r\n  <Price>0</Price>\r\n  <PromotionalPrice>0</PromotionalPrice>\r\n  <PromotionalQuantity>0</PromotionalQuantity>\r\n  <PromotionStartDate>string</PromotionStartDate>\r\n  <PromotionEndDate>string</PromotionEndDate>\r\n  <HasDeposit>true</HasDeposit>\r\n  <Quantity>0</Quantity>\r\n  <UnitQuantity>0</UnitQuantity>\r\n  <UnitQuantityDecimal>0</UnitQuantityDecimal>\r\n  <UnitOfMeasure>string</UnitOfMeasure>\r\n  <Display>string</Display>\r\n  <UnitPrice>0</UnitPrice>\r\n  <UnitPriceUnitOfMeasure>string</UnitPriceUnitOfMeasure>\r\n  <UnitDisplay>string</UnitDisplay>\r\n  <PriceStartDate>string</PriceStartDate>\r\n  <PriceEndDate>string</PriceEndDate>\r\n  <PriceEffectiveDate>string</PriceEffectiveDate>\r\n  <PriceType>string</PriceType>\r\n  <HasPromotion>0</HasPromotion>\r\n  <AmountChanged>0</AmountChanged>\r\n  <PriceLastUpdatedDate>string</PriceLastUpdatedDate>\r\n  <CouponValueMode>string</CouponValueMode>\r\n  <CouponFamily>string</CouponFamily>\r\n  <IsCouponShoppersClub>0</IsCouponShoppersClub>\r\n  <IsCouponQuantityEnforced>0</IsCouponQuantityEnforced>\r\n  <CouponMaxRedemptions>0</CouponMaxRedemptions>\r\n  <CouponCartMinimum>0</CouponCartMinimum>\r\n  <CouponMinQuantity>0</CouponMinQuantity>\r\n  <CouponValue>0</CouponValue>\r\n  <CouponBuy>0</CouponBuy>\r\n  <CouponGet>0</CouponGet>\r\n  <PromotionType>string</PromotionType>\r\n  <IsCouponCardRequired>0</IsCouponCardRequired>\r\n  <CouponUpc>0</CouponUpc>\r\n  <CouponStartDate>string</CouponStartDate>\r\n  <CouponEndDate>string</CouponEndDate>\r\n  <Conditions>string</Conditions>\r\n  <AdTypeCode>string</AdTypeCode>\r\n  <AdLayoutCode>string</AdLayoutCode>\r\n  <AdQualityCode>string</AdQualityCode>\r\n  <AdMerchandisingTypeCode>string</AdMerchandisingTypeCode>\r\n  <AdPreorderCode>string</AdPreorderCode>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</CurrentPriceArray>",
              "text/xml": "<CurrentPriceArray>\r\n  <StoreNumber>0</StoreNumber>\r\n  <StoreName>string</StoreName>\r\n  <Sku>0</Sku>\r\n  <LeadSku>0</LeadSku>\r\n  <Description>string</Description>\r\n  <IsSoldByRandomWeight>true</IsSoldByRandomWeight>\r\n  <DepartmentId>0</DepartmentId>\r\n  <Price>0</Price>\r\n  <PromotionalPrice>0</PromotionalPrice>\r\n  <PromotionalQuantity>0</PromotionalQuantity>\r\n  <PromotionStartDate>string</PromotionStartDate>\r\n  <PromotionEndDate>string</PromotionEndDate>\r\n  <HasDeposit>true</HasDeposit>\r\n  <Quantity>0</Quantity>\r\n  <UnitQuantity>0</UnitQuantity>\r\n  <UnitQuantityDecimal>0</UnitQuantityDecimal>\r\n  <UnitOfMeasure>string</UnitOfMeasure>\r\n  <Display>string</Display>\r\n  <UnitPrice>0</UnitPrice>\r\n  <UnitPriceUnitOfMeasure>string</UnitPriceUnitOfMeasure>\r\n  <UnitDisplay>string</UnitDisplay>\r\n  <PriceStartDate>string</PriceStartDate>\r\n  <PriceEndDate>string</PriceEndDate>\r\n  <PriceEffectiveDate>string</PriceEffectiveDate>\r\n  <PriceType>string</PriceType>\r\n  <HasPromotion>0</HasPromotion>\r\n  <AmountChanged>0</AmountChanged>\r\n  <PriceLastUpdatedDate>string</PriceLastUpdatedDate>\r\n  <CouponValueMode>string</CouponValueMode>\r\n  <CouponFamily>string</CouponFamily>\r\n  <IsCouponShoppersClub>0</IsCouponShoppersClub>\r\n  <IsCouponQuantityEnforced>0</IsCouponQuantityEnforced>\r\n  <CouponMaxRedemptions>0</CouponMaxRedemptions>\r\n  <CouponCartMinimum>0</CouponCartMinimum>\r\n  <CouponMinQuantity>0</CouponMinQuantity>\r\n  <CouponValue>0</CouponValue>\r\n  <CouponBuy>0</CouponBuy>\r\n  <CouponGet>0</CouponGet>\r\n  <PromotionType>string</PromotionType>\r\n  <IsCouponCardRequired>0</IsCouponCardRequired>\r\n  <CouponUpc>0</CouponUpc>\r\n  <CouponStartDate>string</CouponStartDate>\r\n  <CouponEndDate>string</CouponEndDate>\r\n  <Conditions>string</Conditions>\r\n  <AdTypeCode>string</AdTypeCode>\r\n  <AdLayoutCode>string</AdLayoutCode>\r\n  <AdQualityCode>string</AdQualityCode>\r\n  <AdMerchandisingTypeCode>string</AdMerchandisingTypeCode>\r\n  <AdPreorderCode>string</AdPreorderCode>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</CurrentPriceArray>"
            }
          }
        }
      }
    },
    "/pricing/current_prices/{sku}/{storeNumber}": {
      "get": {
        "description": "Get current item price by item and store numbers",
        "operationId": "Current-Price-by-SKU-and-Store",
        "summary": "Current Price by SKU and Store",
        "tags": [
          "Pricing"
        ],
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "description": "Format - int32. Item Number",
            "required": true,
            "type": "integer"
          },
          {
            "name": "storeNumber",
            "in": "path",
            "description": "Format - int32. Store Number",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CurrentPriceArray"
            },
            "examples": {
              "application/json": [
                {
                  "StoreNumber": 0,
                  "StoreName": "string",
                  "Sku": 0,
                  "LeadSku": 0,
                  "Description": "string",
                  "IsSoldByRandomWeight": true,
                  "DepartmentId": 0,
                  "Price": 0.0,
                  "PromotionalPrice": 0.0,
                  "PromotionalQuantity": 0,
                  "PromotionStartDate": "string",
                  "PromotionEndDate": "string",
                  "HasDeposit": true,
                  "Quantity": 0,
                  "UnitQuantity": 0,
                  "UnitQuantityDecimal": 0.0,
                  "UnitOfMeasure": "string",
                  "Display": "string",
                  "UnitPrice": 0.0,
                  "UnitPriceUnitOfMeasure": "string",
                  "UnitDisplay": "string",
                  "PriceStartDate": "string",
                  "PriceEndDate": "string",
                  "PriceEffectiveDate": "string",
                  "PriceType": "string",
                  "HasPromotion": 0,
                  "AmountChanged": 0.0,
                  "PriceLastUpdatedDate": "string",
                  "CouponValueMode": "string",
                  "CouponFamily": "string",
                  "IsCouponShoppersClub": 0,
                  "IsCouponQuantityEnforced": 0,
                  "CouponMaxRedemptions": 0,
                  "CouponCartMinimum": 0.0,
                  "CouponMinQuantity": 0,
                  "CouponValue": 0.0,
                  "CouponBuy": 0,
                  "CouponGet": 0,
                  "PromotionType": "string",
                  "IsCouponCardRequired": 0,
                  "CouponUpc": 0,
                  "CouponStartDate": "string",
                  "CouponEndDate": "string",
                  "Conditions": "string",
                  "AdTypeCode": "string",
                  "AdLayoutCode": "string",
                  "AdQualityCode": "string",
                  "AdMerchandisingTypeCode": "string",
                  "AdPreorderCode": "string",
                  "Links": [
                    {
                      "Rel": "string",
                      "HRef": "string",
                      "Method": "string"
                    }
                  ]
                }
              ],
              "text/json": [
                {
                  "StoreNumber": 0,
                  "StoreName": "string",
                  "Sku": 0,
                  "LeadSku": 0,
                  "Description": "string",
                  "IsSoldByRandomWeight": true,
                  "DepartmentId": 0,
                  "Price": 0.0,
                  "PromotionalPrice": 0.0,
                  "PromotionalQuantity": 0,
                  "PromotionStartDate": "string",
                  "PromotionEndDate": "string",
                  "HasDeposit": true,
                  "Quantity": 0,
                  "UnitQuantity": 0,
                  "UnitQuantityDecimal": 0.0,
                  "UnitOfMeasure": "string",
                  "Display": "string",
                  "UnitPrice": 0.0,
                  "UnitPriceUnitOfMeasure": "string",
                  "UnitDisplay": "string",
                  "PriceStartDate": "string",
                  "PriceEndDate": "string",
                  "PriceEffectiveDate": "string",
                  "PriceType": "string",
                  "HasPromotion": 0,
                  "AmountChanged": 0.0,
                  "PriceLastUpdatedDate": "string",
                  "CouponValueMode": "string",
                  "CouponFamily": "string",
                  "IsCouponShoppersClub": 0,
                  "IsCouponQuantityEnforced": 0,
                  "CouponMaxRedemptions": 0,
                  "CouponCartMinimum": 0.0,
                  "CouponMinQuantity": 0,
                  "CouponValue": 0.0,
                  "CouponBuy": 0,
                  "CouponGet": 0,
                  "PromotionType": "string",
                  "IsCouponCardRequired": 0,
                  "CouponUpc": 0,
                  "CouponStartDate": "string",
                  "CouponEndDate": "string",
                  "Conditions": "string",
                  "AdTypeCode": "string",
                  "AdLayoutCode": "string",
                  "AdQualityCode": "string",
                  "AdMerchandisingTypeCode": "string",
                  "AdPreorderCode": "string",
                  "Links": [
                    {
                      "Rel": "string",
                      "HRef": "string",
                      "Method": "string"
                    }
                  ]
                }
              ],
              "application/xml": "<CurrentPriceArray>\r\n  <StoreNumber>0</StoreNumber>\r\n  <StoreName>string</StoreName>\r\n  <Sku>0</Sku>\r\n  <LeadSku>0</LeadSku>\r\n  <Description>string</Description>\r\n  <IsSoldByRandomWeight>true</IsSoldByRandomWeight>\r\n  <DepartmentId>0</DepartmentId>\r\n  <Price>0</Price>\r\n  <PromotionalPrice>0</PromotionalPrice>\r\n  <PromotionalQuantity>0</PromotionalQuantity>\r\n  <PromotionStartDate>string</PromotionStartDate>\r\n  <PromotionEndDate>string</PromotionEndDate>\r\n  <HasDeposit>true</HasDeposit>\r\n  <Quantity>0</Quantity>\r\n  <UnitQuantity>0</UnitQuantity>\r\n  <UnitQuantityDecimal>0</UnitQuantityDecimal>\r\n  <UnitOfMeasure>string</UnitOfMeasure>\r\n  <Display>string</Display>\r\n  <UnitPrice>0</UnitPrice>\r\n  <UnitPriceUnitOfMeasure>string</UnitPriceUnitOfMeasure>\r\n  <UnitDisplay>string</UnitDisplay>\r\n  <PriceStartDate>string</PriceStartDate>\r\n  <PriceEndDate>string</PriceEndDate>\r\n  <PriceEffectiveDate>string</PriceEffectiveDate>\r\n  <PriceType>string</PriceType>\r\n  <HasPromotion>0</HasPromotion>\r\n  <AmountChanged>0</AmountChanged>\r\n  <PriceLastUpdatedDate>string</PriceLastUpdatedDate>\r\n  <CouponValueMode>string</CouponValueMode>\r\n  <CouponFamily>string</CouponFamily>\r\n  <IsCouponShoppersClub>0</IsCouponShoppersClub>\r\n  <IsCouponQuantityEnforced>0</IsCouponQuantityEnforced>\r\n  <CouponMaxRedemptions>0</CouponMaxRedemptions>\r\n  <CouponCartMinimum>0</CouponCartMinimum>\r\n  <CouponMinQuantity>0</CouponMinQuantity>\r\n  <CouponValue>0</CouponValue>\r\n  <CouponBuy>0</CouponBuy>\r\n  <CouponGet>0</CouponGet>\r\n  <PromotionType>string</PromotionType>\r\n  <IsCouponCardRequired>0</IsCouponCardRequired>\r\n  <CouponUpc>0</CouponUpc>\r\n  <CouponStartDate>string</CouponStartDate>\r\n  <CouponEndDate>string</CouponEndDate>\r\n  <Conditions>string</Conditions>\r\n  <AdTypeCode>string</AdTypeCode>\r\n  <AdLayoutCode>string</AdLayoutCode>\r\n  <AdQualityCode>string</AdQualityCode>\r\n  <AdMerchandisingTypeCode>string</AdMerchandisingTypeCode>\r\n  <AdPreorderCode>string</AdPreorderCode>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</CurrentPriceArray>",
              "text/xml": "<CurrentPriceArray>\r\n  <StoreNumber>0</StoreNumber>\r\n  <StoreName>string</StoreName>\r\n  <Sku>0</Sku>\r\n  <LeadSku>0</LeadSku>\r\n  <Description>string</Description>\r\n  <IsSoldByRandomWeight>true</IsSoldByRandomWeight>\r\n  <DepartmentId>0</DepartmentId>\r\n  <Price>0</Price>\r\n  <PromotionalPrice>0</PromotionalPrice>\r\n  <PromotionalQuantity>0</PromotionalQuantity>\r\n  <PromotionStartDate>string</PromotionStartDate>\r\n  <PromotionEndDate>string</PromotionEndDate>\r\n  <HasDeposit>true</HasDeposit>\r\n  <Quantity>0</Quantity>\r\n  <UnitQuantity>0</UnitQuantity>\r\n  <UnitQuantityDecimal>0</UnitQuantityDecimal>\r\n  <UnitOfMeasure>string</UnitOfMeasure>\r\n  <Display>string</Display>\r\n  <UnitPrice>0</UnitPrice>\r\n  <UnitPriceUnitOfMeasure>string</UnitPriceUnitOfMeasure>\r\n  <UnitDisplay>string</UnitDisplay>\r\n  <PriceStartDate>string</PriceStartDate>\r\n  <PriceEndDate>string</PriceEndDate>\r\n  <PriceEffectiveDate>string</PriceEffectiveDate>\r\n  <PriceType>string</PriceType>\r\n  <HasPromotion>0</HasPromotion>\r\n  <AmountChanged>0</AmountChanged>\r\n  <PriceLastUpdatedDate>string</PriceLastUpdatedDate>\r\n  <CouponValueMode>string</CouponValueMode>\r\n  <CouponFamily>string</CouponFamily>\r\n  <IsCouponShoppersClub>0</IsCouponShoppersClub>\r\n  <IsCouponQuantityEnforced>0</IsCouponQuantityEnforced>\r\n  <CouponMaxRedemptions>0</CouponMaxRedemptions>\r\n  <CouponCartMinimum>0</CouponCartMinimum>\r\n  <CouponMinQuantity>0</CouponMinQuantity>\r\n  <CouponValue>0</CouponValue>\r\n  <CouponBuy>0</CouponBuy>\r\n  <CouponGet>0</CouponGet>\r\n  <PromotionType>string</PromotionType>\r\n  <IsCouponCardRequired>0</IsCouponCardRequired>\r\n  <CouponUpc>0</CouponUpc>\r\n  <CouponStartDate>string</CouponStartDate>\r\n  <CouponEndDate>string</CouponEndDate>\r\n  <Conditions>string</Conditions>\r\n  <AdTypeCode>string</AdTypeCode>\r\n  <AdLayoutCode>string</AdLayoutCode>\r\n  <AdQualityCode>string</AdQualityCode>\r\n  <AdMerchandisingTypeCode>string</AdMerchandisingTypeCode>\r\n  <AdPreorderCode>string</AdPreorderCode>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</CurrentPriceArray>"
            }
          }
        }
      }
    },
    "/pricing/current_prices/{storeNumber}": {
      "post": {
        "description": "Get current price for multiple items at a single store",
        "operationId": "Current-Price-by-SKUs-Store",
        "summary": "Current Price by SKUs Store",
        "tags": [
          "Pricing"
        ],
        "parameters": [
          {
            "name": "storeNumber",
            "in": "path",
            "description": "Format - int32. Store Number",
            "required": true,
            "type": "integer"
          },
          {
            "name": "skus",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Skus"
            },
            "description": "List of Item Numbers"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CurrentPriceArray"
            },
            "examples": {
              "application/json": [
                {
                  "StoreNumber": 0,
                  "StoreName": "string",
                  "Sku": 0,
                  "LeadSku": 0,
                  "Description": "string",
                  "IsSoldByRandomWeight": true,
                  "DepartmentId": 0,
                  "Price": 0.0,
                  "PromotionalPrice": 0.0,
                  "PromotionalQuantity": 0,
                  "PromotionStartDate": "string",
                  "PromotionEndDate": "string",
                  "HasDeposit": true,
                  "Quantity": 0,
                  "UnitQuantity": 0,
                  "UnitQuantityDecimal": 0.0,
                  "UnitOfMeasure": "string",
                  "Display": "string",
                  "UnitPrice": 0.0,
                  "UnitPriceUnitOfMeasure": "string",
                  "UnitDisplay": "string",
                  "PriceStartDate": "string",
                  "PriceEndDate": "string",
                  "PriceEffectiveDate": "string",
                  "PriceType": "string",
                  "HasPromotion": 0,
                  "AmountChanged": 0.0,
                  "PriceLastUpdatedDate": "string",
                  "CouponValueMode": "string",
                  "CouponFamily": "string",
                  "IsCouponShoppersClub": 0,
                  "IsCouponQuantityEnforced": 0,
                  "CouponMaxRedemptions": 0,
                  "CouponCartMinimum": 0.0,
                  "CouponMinQuantity": 0,
                  "CouponValue": 0.0,
                  "CouponBuy": 0,
                  "CouponGet": 0,
                  "PromotionType": "string",
                  "IsCouponCardRequired": 0,
                  "CouponUpc": 0,
                  "CouponStartDate": "string",
                  "CouponEndDate": "string",
                  "Conditions": "string",
                  "AdTypeCode": "string",
                  "AdLayoutCode": "string",
                  "AdQualityCode": "string",
                  "AdMerchandisingTypeCode": "string",
                  "AdPreorderCode": "string",
                  "Links": [
                    {
                      "Rel": "string",
                      "HRef": "string",
                      "Method": "string"
                    }
                  ]
                }
              ],
              "text/json": [
                {
                  "StoreNumber": 0,
                  "StoreName": "string",
                  "Sku": 0,
                  "LeadSku": 0,
                  "Description": "string",
                  "IsSoldByRandomWeight": true,
                  "DepartmentId": 0,
                  "Price": 0.0,
                  "PromotionalPrice": 0.0,
                  "PromotionalQuantity": 0,
                  "PromotionStartDate": "string",
                  "PromotionEndDate": "string",
                  "HasDeposit": true,
                  "Quantity": 0,
                  "UnitQuantity": 0,
                  "UnitQuantityDecimal": 0.0,
                  "UnitOfMeasure": "string",
                  "Display": "string",
                  "UnitPrice": 0.0,
                  "UnitPriceUnitOfMeasure": "string",
                  "UnitDisplay": "string",
                  "PriceStartDate": "string",
                  "PriceEndDate": "string",
                  "PriceEffectiveDate": "string",
                  "PriceType": "string",
                  "HasPromotion": 0,
                  "AmountChanged": 0.0,
                  "PriceLastUpdatedDate": "string",
                  "CouponValueMode": "string",
                  "CouponFamily": "string",
                  "IsCouponShoppersClub": 0,
                  "IsCouponQuantityEnforced": 0,
                  "CouponMaxRedemptions": 0,
                  "CouponCartMinimum": 0.0,
                  "CouponMinQuantity": 0,
                  "CouponValue": 0.0,
                  "CouponBuy": 0,
                  "CouponGet": 0,
                  "PromotionType": "string",
                  "IsCouponCardRequired": 0,
                  "CouponUpc": 0,
                  "CouponStartDate": "string",
                  "CouponEndDate": "string",
                  "Conditions": "string",
                  "AdTypeCode": "string",
                  "AdLayoutCode": "string",
                  "AdQualityCode": "string",
                  "AdMerchandisingTypeCode": "string",
                  "AdPreorderCode": "string",
                  "Links": [
                    {
                      "Rel": "string",
                      "HRef": "string",
                      "Method": "string"
                    }
                  ]
                }
              ],
              "application/xml": "<CurrentPriceArray>\r\n  <StoreNumber>0</StoreNumber>\r\n  <StoreName>string</StoreName>\r\n  <Sku>0</Sku>\r\n  <LeadSku>0</LeadSku>\r\n  <Description>string</Description>\r\n  <IsSoldByRandomWeight>true</IsSoldByRandomWeight>\r\n  <DepartmentId>0</DepartmentId>\r\n  <Price>0</Price>\r\n  <PromotionalPrice>0</PromotionalPrice>\r\n  <PromotionalQuantity>0</PromotionalQuantity>\r\n  <PromotionStartDate>string</PromotionStartDate>\r\n  <PromotionEndDate>string</PromotionEndDate>\r\n  <HasDeposit>true</HasDeposit>\r\n  <Quantity>0</Quantity>\r\n  <UnitQuantity>0</UnitQuantity>\r\n  <UnitQuantityDecimal>0</UnitQuantityDecimal>\r\n  <UnitOfMeasure>string</UnitOfMeasure>\r\n  <Display>string</Display>\r\n  <UnitPrice>0</UnitPrice>\r\n  <UnitPriceUnitOfMeasure>string</UnitPriceUnitOfMeasure>\r\n  <UnitDisplay>string</UnitDisplay>\r\n  <PriceStartDate>string</PriceStartDate>\r\n  <PriceEndDate>string</PriceEndDate>\r\n  <PriceEffectiveDate>string</PriceEffectiveDate>\r\n  <PriceType>string</PriceType>\r\n  <HasPromotion>0</HasPromotion>\r\n  <AmountChanged>0</AmountChanged>\r\n  <PriceLastUpdatedDate>string</PriceLastUpdatedDate>\r\n  <CouponValueMode>string</CouponValueMode>\r\n  <CouponFamily>string</CouponFamily>\r\n  <IsCouponShoppersClub>0</IsCouponShoppersClub>\r\n  <IsCouponQuantityEnforced>0</IsCouponQuantityEnforced>\r\n  <CouponMaxRedemptions>0</CouponMaxRedemptions>\r\n  <CouponCartMinimum>0</CouponCartMinimum>\r\n  <CouponMinQuantity>0</CouponMinQuantity>\r\n  <CouponValue>0</CouponValue>\r\n  <CouponBuy>0</CouponBuy>\r\n  <CouponGet>0</CouponGet>\r\n  <PromotionType>string</PromotionType>\r\n  <IsCouponCardRequired>0</IsCouponCardRequired>\r\n  <CouponUpc>0</CouponUpc>\r\n  <CouponStartDate>string</CouponStartDate>\r\n  <CouponEndDate>string</CouponEndDate>\r\n  <Conditions>string</Conditions>\r\n  <AdTypeCode>string</AdTypeCode>\r\n  <AdLayoutCode>string</AdLayoutCode>\r\n  <AdQualityCode>string</AdQualityCode>\r\n  <AdMerchandisingTypeCode>string</AdMerchandisingTypeCode>\r\n  <AdPreorderCode>string</AdPreorderCode>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</CurrentPriceArray>",
              "text/xml": "<CurrentPriceArray>\r\n  <StoreNumber>0</StoreNumber>\r\n  <StoreName>string</StoreName>\r\n  <Sku>0</Sku>\r\n  <LeadSku>0</LeadSku>\r\n  <Description>string</Description>\r\n  <IsSoldByRandomWeight>true</IsSoldByRandomWeight>\r\n  <DepartmentId>0</DepartmentId>\r\n  <Price>0</Price>\r\n  <PromotionalPrice>0</PromotionalPrice>\r\n  <PromotionalQuantity>0</PromotionalQuantity>\r\n  <PromotionStartDate>string</PromotionStartDate>\r\n  <PromotionEndDate>string</PromotionEndDate>\r\n  <HasDeposit>true</HasDeposit>\r\n  <Quantity>0</Quantity>\r\n  <UnitQuantity>0</UnitQuantity>\r\n  <UnitQuantityDecimal>0</UnitQuantityDecimal>\r\n  <UnitOfMeasure>string</UnitOfMeasure>\r\n  <Display>string</Display>\r\n  <UnitPrice>0</UnitPrice>\r\n  <UnitPriceUnitOfMeasure>string</UnitPriceUnitOfMeasure>\r\n  <UnitDisplay>string</UnitDisplay>\r\n  <PriceStartDate>string</PriceStartDate>\r\n  <PriceEndDate>string</PriceEndDate>\r\n  <PriceEffectiveDate>string</PriceEffectiveDate>\r\n  <PriceType>string</PriceType>\r\n  <HasPromotion>0</HasPromotion>\r\n  <AmountChanged>0</AmountChanged>\r\n  <PriceLastUpdatedDate>string</PriceLastUpdatedDate>\r\n  <CouponValueMode>string</CouponValueMode>\r\n  <CouponFamily>string</CouponFamily>\r\n  <IsCouponShoppersClub>0</IsCouponShoppersClub>\r\n  <IsCouponQuantityEnforced>0</IsCouponQuantityEnforced>\r\n  <CouponMaxRedemptions>0</CouponMaxRedemptions>\r\n  <CouponCartMinimum>0</CouponCartMinimum>\r\n  <CouponMinQuantity>0</CouponMinQuantity>\r\n  <CouponValue>0</CouponValue>\r\n  <CouponBuy>0</CouponBuy>\r\n  <CouponGet>0</CouponGet>\r\n  <PromotionType>string</PromotionType>\r\n  <IsCouponCardRequired>0</IsCouponCardRequired>\r\n  <CouponUpc>0</CouponUpc>\r\n  <CouponStartDate>string</CouponStartDate>\r\n  <CouponEndDate>string</CouponEndDate>\r\n  <Conditions>string</Conditions>\r\n  <AdTypeCode>string</AdTypeCode>\r\n  <AdLayoutCode>string</AdLayoutCode>\r\n  <AdQualityCode>string</AdQualityCode>\r\n  <AdMerchandisingTypeCode>string</AdMerchandisingTypeCode>\r\n  <AdPreorderCode>string</AdPreorderCode>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</CurrentPriceArray>"
            }
          }
        }
      }
    },
    "/pricing/base_prices/{sku}/{storeNumber}": {
      "get": {
        "description": "Get base item price by item number, store number, and effective date.\r\nBase price does not include zone specials, store specials, or coupons.\r\n(Note: Previous prices are not fully supported)",
        "operationId": "Retail-Price-by-SKU-Store-Date",
        "summary": "Retail Price by SKU - Store - Date",
        "tags": [
          "Pricing"
        ],
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "description": "Format - int32. The sku for the item",
            "required": true,
            "type": "integer"
          },
          {
            "name": "storeNumber",
            "in": "path",
            "description": "Format - int32. Get the base pricing for this store",
            "required": true,
            "type": "integer"
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Get the base price in effect for this date",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PriceResourceArray"
            },
            "examples": {
              "application/json": [
                {
                  "Sku": 0,
                  "StoreNumber": 0,
                  "Price": 0.0,
                  "Quantity": 0,
                  "PriceSource": "string",
                  "StartDate": "string",
                  "EndDate": "string",
                  "Links": [
                    {
                      "Rel": "string",
                      "HRef": "string",
                      "Method": "string"
                    }
                  ]
                }
              ],
              "text/json": [
                {
                  "Sku": 0,
                  "StoreNumber": 0,
                  "Price": 0.0,
                  "Quantity": 0,
                  "PriceSource": "string",
                  "StartDate": "string",
                  "EndDate": "string",
                  "Links": [
                    {
                      "Rel": "string",
                      "HRef": "string",
                      "Method": "string"
                    }
                  ]
                }
              ],
              "application/xml": "<PriceResourceArray>\r\n  <Sku>0</Sku>\r\n  <StoreNumber>0</StoreNumber>\r\n  <Price>0</Price>\r\n  <Quantity>0</Quantity>\r\n  <PriceSource>string</PriceSource>\r\n  <StartDate>string</StartDate>\r\n  <EndDate>string</EndDate>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</PriceResourceArray>",
              "text/xml": "<PriceResourceArray>\r\n  <Sku>0</Sku>\r\n  <StoreNumber>0</StoreNumber>\r\n  <Price>0</Price>\r\n  <Quantity>0</Quantity>\r\n  <PriceSource>string</PriceSource>\r\n  <StartDate>string</StartDate>\r\n  <EndDate>string</EndDate>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</PriceResourceArray>"
            }
          }
        }
      }
    },
    "/pricing/prices/{sku}/{storeNumber}": {
      "get": {
        "description": "Get the highest ranking price (ie A store item special is higher than a store item regeular)\r\n(Note: Previous prices are not fully supported)",
        "operationId": "Price-by-SKU-Store-Date",
        "summary": "Price by SKU - Store - Date",
        "tags": [
          "Pricing"
        ],
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "description": "Format - int32. The sku for the item",
            "required": true,
            "type": "integer"
          },
          {
            "name": "storeNumber",
            "in": "path",
            "description": "Format - int32. The price at this store",
            "required": true,
            "type": "integer"
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). The price is in effect for this date",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PriceResource"
            },
            "examples": {
              "application/json": {
                "Sku": 0,
                "StoreNumber": 0,
                "Price": 0.0,
                "Quantity": 0,
                "PriceSource": "string",
                "StartDate": "string",
                "EndDate": "string",
                "Links": [
                  {
                    "Rel": "string",
                    "HRef": "string",
                    "Method": "string"
                  }
                ]
              },
              "text/json": {
                "Sku": 0,
                "StoreNumber": 0,
                "Price": 0.0,
                "Quantity": 0,
                "PriceSource": "string",
                "StartDate": "string",
                "EndDate": "string",
                "Links": [
                  {
                    "Rel": "string",
                    "HRef": "string",
                    "Method": "string"
                  }
                ]
              },
              "application/xml": "<PriceResource>\r\n  <Sku>0</Sku>\r\n  <StoreNumber>0</StoreNumber>\r\n  <Price>0</Price>\r\n  <Quantity>0</Quantity>\r\n  <PriceSource>string</PriceSource>\r\n  <StartDate>string</StartDate>\r\n  <EndDate>string</EndDate>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</PriceResource>",
              "text/xml": "<PriceResource>\r\n  <Sku>0</Sku>\r\n  <StoreNumber>0</StoreNumber>\r\n  <Price>0</Price>\r\n  <Quantity>0</Quantity>\r\n  <PriceSource>string</PriceSource>\r\n  <StartDate>string</StartDate>\r\n  <EndDate>string</EndDate>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</PriceResource>"
            }
          }
        }
      }
    },
    "/pricing/future_prices/{sku}": {
      "get": {
        "description": "Get future item price by SKU",
        "operationId": "Future-Price-by-SKU",
        "summary": "Future Price by SKU",
        "tags": [
          "Pricing"
        ],
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "description": "Format - int32. Sku of the item.",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FuturePriceArray"
            },
            "examples": {
              "application/json": [
                {
                  "StoreNumber": 0,
                  "StoreName": "string",
                  "Sku": 0,
                  "LeadSku": 0,
                  "DepartmentId": 0,
                  "Price": 0.0,
                  "PromotionalPrice": 0.0,
                  "PromotionalQuantity": 0,
                  "PromotionStartDate": "string",
                  "PromotionEndDate": "string",
                  "PriceStartDate": "string",
                  "PriceEndDate": "string",
                  "PriceEffectiveDate": "string",
                  "PriceType": "string",
                  "Quantity": 0,
                  "UnitQuantity": 0,
                  "UnitQuantityDecimal": 0.0,
                  "UnitOfMeasure": "string",
                  "UnitPrice": 0.0,
                  "UnitPriceUnitOfMeasure": "string",
                  "HasPromotion": 0,
                  "CouponFamily": "string",
                  "IsCouponShoppersClub": 0,
                  "IsCouponQuantityEnforced": 0,
                  "CouponMaxRedemptions": 0,
                  "CouponCartMinimum": 0.0,
                  "CouponMinQuantity": 0,
                  "CouponValueMode": "string",
                  "CouponValue": 0.0,
                  "CouponBuy": 0,
                  "CouponGet": 0,
                  "PromotionType": "string",
                  "IsCouponCardRequired": 0,
                  "IsSoldByRandomWeight": true,
                  "CouponUpc": 0,
                  "CouponStartDate": "string",
                  "CouponEndDate": "string",
                  "AdTypeCode": "string",
                  "AdLayoutCode": "string",
                  "AdQualityCode": "string",
                  "AdMerchandisingTypeCode": "string",
                  "AdPreorderCode": "string",
                  "Links": [
                    {
                      "Rel": "string",
                      "HRef": "string",
                      "Method": "string"
                    }
                  ]
                }
              ],
              "text/json": [
                {
                  "StoreNumber": 0,
                  "StoreName": "string",
                  "Sku": 0,
                  "LeadSku": 0,
                  "DepartmentId": 0,
                  "Price": 0.0,
                  "PromotionalPrice": 0.0,
                  "PromotionalQuantity": 0,
                  "PromotionStartDate": "string",
                  "PromotionEndDate": "string",
                  "PriceStartDate": "string",
                  "PriceEndDate": "string",
                  "PriceEffectiveDate": "string",
                  "PriceType": "string",
                  "Quantity": 0,
                  "UnitQuantity": 0,
                  "UnitQuantityDecimal": 0.0,
                  "UnitOfMeasure": "string",
                  "UnitPrice": 0.0,
                  "UnitPriceUnitOfMeasure": "string",
                  "HasPromotion": 0,
                  "CouponFamily": "string",
                  "IsCouponShoppersClub": 0,
                  "IsCouponQuantityEnforced": 0,
                  "CouponMaxRedemptions": 0,
                  "CouponCartMinimum": 0.0,
                  "CouponMinQuantity": 0,
                  "CouponValueMode": "string",
                  "CouponValue": 0.0,
                  "CouponBuy": 0,
                  "CouponGet": 0,
                  "PromotionType": "string",
                  "IsCouponCardRequired": 0,
                  "IsSoldByRandomWeight": true,
                  "CouponUpc": 0,
                  "CouponStartDate": "string",
                  "CouponEndDate": "string",
                  "AdTypeCode": "string",
                  "AdLayoutCode": "string",
                  "AdQualityCode": "string",
                  "AdMerchandisingTypeCode": "string",
                  "AdPreorderCode": "string",
                  "Links": [
                    {
                      "Rel": "string",
                      "HRef": "string",
                      "Method": "string"
                    }
                  ]
                }
              ],
              "application/xml": "<FuturePriceArray>\r\n  <StoreNumber>0</StoreNumber>\r\n  <StoreName>string</StoreName>\r\n  <Sku>0</Sku>\r\n  <LeadSku>0</LeadSku>\r\n  <DepartmentId>0</DepartmentId>\r\n  <Price>0</Price>\r\n  <PromotionalPrice>0</PromotionalPrice>\r\n  <PromotionalQuantity>0</PromotionalQuantity>\r\n  <PromotionStartDate>string</PromotionStartDate>\r\n  <PromotionEndDate>string</PromotionEndDate>\r\n  <PriceStartDate>string</PriceStartDate>\r\n  <PriceEndDate>string</PriceEndDate>\r\n  <PriceEffectiveDate>string</PriceEffectiveDate>\r\n  <PriceType>string</PriceType>\r\n  <Quantity>0</Quantity>\r\n  <UnitQuantity>0</UnitQuantity>\r\n  <UnitQuantityDecimal>0</UnitQuantityDecimal>\r\n  <UnitOfMeasure>string</UnitOfMeasure>\r\n  <UnitPrice>0</UnitPrice>\r\n  <UnitPriceUnitOfMeasure>string</UnitPriceUnitOfMeasure>\r\n  <HasPromotion>0</HasPromotion>\r\n  <CouponFamily>string</CouponFamily>\r\n  <IsCouponShoppersClub>0</IsCouponShoppersClub>\r\n  <IsCouponQuantityEnforced>0</IsCouponQuantityEnforced>\r\n  <CouponMaxRedemptions>0</CouponMaxRedemptions>\r\n  <CouponCartMinimum>0</CouponCartMinimum>\r\n  <CouponMinQuantity>0</CouponMinQuantity>\r\n  <CouponValueMode>string</CouponValueMode>\r\n  <CouponValue>0</CouponValue>\r\n  <CouponBuy>0</CouponBuy>\r\n  <CouponGet>0</CouponGet>\r\n  <PromotionType>string</PromotionType>\r\n  <IsCouponCardRequired>0</IsCouponCardRequired>\r\n  <IsSoldByRandomWeight>true</IsSoldByRandomWeight>\r\n  <CouponUpc>0</CouponUpc>\r\n  <CouponStartDate>string</CouponStartDate>\r\n  <CouponEndDate>string</CouponEndDate>\r\n  <AdTypeCode>string</AdTypeCode>\r\n  <AdLayoutCode>string</AdLayoutCode>\r\n  <AdQualityCode>string</AdQualityCode>\r\n  <AdMerchandisingTypeCode>string</AdMerchandisingTypeCode>\r\n  <AdPreorderCode>string</AdPreorderCode>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</FuturePriceArray>",
              "text/xml": "<FuturePriceArray>\r\n  <StoreNumber>0</StoreNumber>\r\n  <StoreName>string</StoreName>\r\n  <Sku>0</Sku>\r\n  <LeadSku>0</LeadSku>\r\n  <DepartmentId>0</DepartmentId>\r\n  <Price>0</Price>\r\n  <PromotionalPrice>0</PromotionalPrice>\r\n  <PromotionalQuantity>0</PromotionalQuantity>\r\n  <PromotionStartDate>string</PromotionStartDate>\r\n  <PromotionEndDate>string</PromotionEndDate>\r\n  <PriceStartDate>string</PriceStartDate>\r\n  <PriceEndDate>string</PriceEndDate>\r\n  <PriceEffectiveDate>string</PriceEffectiveDate>\r\n  <PriceType>string</PriceType>\r\n  <Quantity>0</Quantity>\r\n  <UnitQuantity>0</UnitQuantity>\r\n  <UnitQuantityDecimal>0</UnitQuantityDecimal>\r\n  <UnitOfMeasure>string</UnitOfMeasure>\r\n  <UnitPrice>0</UnitPrice>\r\n  <UnitPriceUnitOfMeasure>string</UnitPriceUnitOfMeasure>\r\n  <HasPromotion>0</HasPromotion>\r\n  <CouponFamily>string</CouponFamily>\r\n  <IsCouponShoppersClub>0</IsCouponShoppersClub>\r\n  <IsCouponQuantityEnforced>0</IsCouponQuantityEnforced>\r\n  <CouponMaxRedemptions>0</CouponMaxRedemptions>\r\n  <CouponCartMinimum>0</CouponCartMinimum>\r\n  <CouponMinQuantity>0</CouponMinQuantity>\r\n  <CouponValueMode>string</CouponValueMode>\r\n  <CouponValue>0</CouponValue>\r\n  <CouponBuy>0</CouponBuy>\r\n  <CouponGet>0</CouponGet>\r\n  <PromotionType>string</PromotionType>\r\n  <IsCouponCardRequired>0</IsCouponCardRequired>\r\n  <IsSoldByRandomWeight>true</IsSoldByRandomWeight>\r\n  <CouponUpc>0</CouponUpc>\r\n  <CouponStartDate>string</CouponStartDate>\r\n  <CouponEndDate>string</CouponEndDate>\r\n  <AdTypeCode>string</AdTypeCode>\r\n  <AdLayoutCode>string</AdLayoutCode>\r\n  <AdQualityCode>string</AdQualityCode>\r\n  <AdMerchandisingTypeCode>string</AdMerchandisingTypeCode>\r\n  <AdPreorderCode>string</AdPreorderCode>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</FuturePriceArray>"
            }
          }
        }
      }
    },
    "/pricing/previous_prices/{sku}": {
      "get": {
        "description": "Get previous day's item price by item number",
        "operationId": "Previous-Price-by-SKU",
        "summary": "Previous Price by SKU",
        "tags": [
          "Pricing"
        ],
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "description": "Format - int32. Item Number",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PreviousPriceArray"
            },
            "examples": {
              "application/json": [
                {
                  "Sku": 0,
                  "Description": "string",
                  "IsSoldByRandomWeight": true,
                  "LeadSku": 0,
                  "DepartmentId": 0,
                  "StoreNumber": 0,
                  "HasDeposit": true,
                  "Price": 0.0,
                  "Quantity": 0,
                  "UnitQuantity": 0,
                  "UnitQuantityDecimal": 0.0,
                  "UnitOfMeasure": "string",
                  "Display": "string",
                  "UnitPrice": 0.0,
                  "UnitPriceUnitOfMeasure": "string",
                  "UnitDisplay": "string",
                  "PriceStartDate": "string",
                  "PriceEndDate": "string",
                  "AmountChanged": 0.0,
                  "PriceLastUpdatedDate": "string",
                  "HasPromotion": true,
                  "Links": [
                    {
                      "Rel": "string",
                      "HRef": "string",
                      "Method": "string"
                    }
                  ]
                }
              ],
              "text/json": [
                {
                  "Sku": 0,
                  "Description": "string",
                  "IsSoldByRandomWeight": true,
                  "LeadSku": 0,
                  "DepartmentId": 0,
                  "StoreNumber": 0,
                  "HasDeposit": true,
                  "Price": 0.0,
                  "Quantity": 0,
                  "UnitQuantity": 0,
                  "UnitQuantityDecimal": 0.0,
                  "UnitOfMeasure": "string",
                  "Display": "string",
                  "UnitPrice": 0.0,
                  "UnitPriceUnitOfMeasure": "string",
                  "UnitDisplay": "string",
                  "PriceStartDate": "string",
                  "PriceEndDate": "string",
                  "AmountChanged": 0.0,
                  "PriceLastUpdatedDate": "string",
                  "HasPromotion": true,
                  "Links": [
                    {
                      "Rel": "string",
                      "HRef": "string",
                      "Method": "string"
                    }
                  ]
                }
              ],
              "application/xml": "<PreviousPriceArray>\r\n  <Sku>0</Sku>\r\n  <Description>string</Description>\r\n  <IsSoldByRandomWeight>true</IsSoldByRandomWeight>\r\n  <LeadSku>0</LeadSku>\r\n  <DepartmentId>0</DepartmentId>\r\n  <StoreNumber>0</StoreNumber>\r\n  <HasDeposit>true</HasDeposit>\r\n  <Price>0</Price>\r\n  <Quantity>0</Quantity>\r\n  <UnitQuantity>0</UnitQuantity>\r\n  <UnitQuantityDecimal>0</UnitQuantityDecimal>\r\n  <UnitOfMeasure>string</UnitOfMeasure>\r\n  <Display>string</Display>\r\n  <UnitPrice>0</UnitPrice>\r\n  <UnitPriceUnitOfMeasure>string</UnitPriceUnitOfMeasure>\r\n  <UnitDisplay>string</UnitDisplay>\r\n  <PriceStartDate>string</PriceStartDate>\r\n  <PriceEndDate>string</PriceEndDate>\r\n  <AmountChanged>0</AmountChanged>\r\n  <PriceLastUpdatedDate>string</PriceLastUpdatedDate>\r\n  <HasPromotion>true</HasPromotion>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</PreviousPriceArray>",
              "text/xml": "<PreviousPriceArray>\r\n  <Sku>0</Sku>\r\n  <Description>string</Description>\r\n  <IsSoldByRandomWeight>true</IsSoldByRandomWeight>\r\n  <LeadSku>0</LeadSku>\r\n  <DepartmentId>0</DepartmentId>\r\n  <StoreNumber>0</StoreNumber>\r\n  <HasDeposit>true</HasDeposit>\r\n  <Price>0</Price>\r\n  <Quantity>0</Quantity>\r\n  <UnitQuantity>0</UnitQuantity>\r\n  <UnitQuantityDecimal>0</UnitQuantityDecimal>\r\n  <UnitOfMeasure>string</UnitOfMeasure>\r\n  <Display>string</Display>\r\n  <UnitPrice>0</UnitPrice>\r\n  <UnitPriceUnitOfMeasure>string</UnitPriceUnitOfMeasure>\r\n  <UnitDisplay>string</UnitDisplay>\r\n  <PriceStartDate>string</PriceStartDate>\r\n  <PriceEndDate>string</PriceEndDate>\r\n  <AmountChanged>0</AmountChanged>\r\n  <PriceLastUpdatedDate>string</PriceLastUpdatedDate>\r\n  <HasPromotion>true</HasPromotion>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</PreviousPriceArray>"
            }
          }
        }
      }
    },
    "/pricing/previous_prices/{sku}/{storeNumber}": {
      "get": {
        "description": "Get previous day's item price by item and store numbers",
        "operationId": "Previous-Price-by-SKU-and-Store",
        "summary": "Previous Price by SKU and Store",
        "tags": [
          "Pricing"
        ],
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "description": "Format - int32. Item Number",
            "required": true,
            "type": "integer"
          },
          {
            "name": "storeNumber",
            "in": "path",
            "description": "Format - int32. Store Number",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PreviousPriceArray"
            },
            "examples": {
              "application/json": [
                {
                  "Sku": 0,
                  "Description": "string",
                  "IsSoldByRandomWeight": true,
                  "LeadSku": 0,
                  "DepartmentId": 0,
                  "StoreNumber": 0,
                  "HasDeposit": true,
                  "Price": 0.0,
                  "Quantity": 0,
                  "UnitQuantity": 0,
                  "UnitQuantityDecimal": 0.0,
                  "UnitOfMeasure": "string",
                  "Display": "string",
                  "UnitPrice": 0.0,
                  "UnitPriceUnitOfMeasure": "string",
                  "UnitDisplay": "string",
                  "PriceStartDate": "string",
                  "PriceEndDate": "string",
                  "AmountChanged": 0.0,
                  "PriceLastUpdatedDate": "string",
                  "HasPromotion": true,
                  "Links": [
                    {
                      "Rel": "string",
                      "HRef": "string",
                      "Method": "string"
                    }
                  ]
                }
              ],
              "text/json": [
                {
                  "Sku": 0,
                  "Description": "string",
                  "IsSoldByRandomWeight": true,
                  "LeadSku": 0,
                  "DepartmentId": 0,
                  "StoreNumber": 0,
                  "HasDeposit": true,
                  "Price": 0.0,
                  "Quantity": 0,
                  "UnitQuantity": 0,
                  "UnitQuantityDecimal": 0.0,
                  "UnitOfMeasure": "string",
                  "Display": "string",
                  "UnitPrice": 0.0,
                  "UnitPriceUnitOfMeasure": "string",
                  "UnitDisplay": "string",
                  "PriceStartDate": "string",
                  "PriceEndDate": "string",
                  "AmountChanged": 0.0,
                  "PriceLastUpdatedDate": "string",
                  "HasPromotion": true,
                  "Links": [
                    {
                      "Rel": "string",
                      "HRef": "string",
                      "Method": "string"
                    }
                  ]
                }
              ],
              "application/xml": "<PreviousPriceArray>\r\n  <Sku>0</Sku>\r\n  <Description>string</Description>\r\n  <IsSoldByRandomWeight>true</IsSoldByRandomWeight>\r\n  <LeadSku>0</LeadSku>\r\n  <DepartmentId>0</DepartmentId>\r\n  <StoreNumber>0</StoreNumber>\r\n  <HasDeposit>true</HasDeposit>\r\n  <Price>0</Price>\r\n  <Quantity>0</Quantity>\r\n  <UnitQuantity>0</UnitQuantity>\r\n  <UnitQuantityDecimal>0</UnitQuantityDecimal>\r\n  <UnitOfMeasure>string</UnitOfMeasure>\r\n  <Display>string</Display>\r\n  <UnitPrice>0</UnitPrice>\r\n  <UnitPriceUnitOfMeasure>string</UnitPriceUnitOfMeasure>\r\n  <UnitDisplay>string</UnitDisplay>\r\n  <PriceStartDate>string</PriceStartDate>\r\n  <PriceEndDate>string</PriceEndDate>\r\n  <AmountChanged>0</AmountChanged>\r\n  <PriceLastUpdatedDate>string</PriceLastUpdatedDate>\r\n  <HasPromotion>true</HasPromotion>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</PreviousPriceArray>",
              "text/xml": "<PreviousPriceArray>\r\n  <Sku>0</Sku>\r\n  <Description>string</Description>\r\n  <IsSoldByRandomWeight>true</IsSoldByRandomWeight>\r\n  <LeadSku>0</LeadSku>\r\n  <DepartmentId>0</DepartmentId>\r\n  <StoreNumber>0</StoreNumber>\r\n  <HasDeposit>true</HasDeposit>\r\n  <Price>0</Price>\r\n  <Quantity>0</Quantity>\r\n  <UnitQuantity>0</UnitQuantity>\r\n  <UnitQuantityDecimal>0</UnitQuantityDecimal>\r\n  <UnitOfMeasure>string</UnitOfMeasure>\r\n  <Display>string</Display>\r\n  <UnitPrice>0</UnitPrice>\r\n  <UnitPriceUnitOfMeasure>string</UnitPriceUnitOfMeasure>\r\n  <UnitDisplay>string</UnitDisplay>\r\n  <PriceStartDate>string</PriceStartDate>\r\n  <PriceEndDate>string</PriceEndDate>\r\n  <AmountChanged>0</AmountChanged>\r\n  <PriceLastUpdatedDate>string</PriceLastUpdatedDate>\r\n  <HasPromotion>true</HasPromotion>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</PreviousPriceArray>"
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "Check-Service-Health",
        "summary": "Check Service Health",
        "tags": [
          "Health"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Health"
            },
            "examples": {
              "application/json": {
                "Status": 0,
                "HealthResults": [
                  {
                    "Component": "string",
                    "Name": "string",
                    "Message": "string",
                    "Status": 0,
                    "StatusString": "string"
                  }
                ]
              },
              "text/json": {
                "Status": 0,
                "HealthResults": [
                  {
                    "Component": "string",
                    "Name": "string",
                    "Message": "string",
                    "Status": 0,
                    "StatusString": "string"
                  }
                ]
              },
              "application/xml": "<Health>\r\n  <Status>0</Status>\r\n  <HealthResults>\r\n    <Component>string</Component>\r\n    <Name>string</Name>\r\n    <Message>string</Message>\r\n    <Status>0</Status>\r\n    <StatusString>string</StatusString>\r\n  </HealthResults>\r\n</Health>",
              "text/xml": "<Health>\r\n  <Status>0</Status>\r\n  <HealthResults>\r\n    <Component>string</Component>\r\n    <Name>string</Name>\r\n    <Message>string</Message>\r\n    <Status>0</Status>\r\n    <StatusString>string</StatusString>\r\n  </HealthResults>\r\n</Health>"
            }
          }
        }
      }
    },
    "/health/heartbeat": {
      "get": {
        "operationId": "Check-Service-Heartbeat",
        "summary": "Check Service Heartbeat",
        "tags": [
          "Health"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HealthHeartbeatGet200TextXmlResponse"
            },
            "examples": {
              "application/json": {},
              "text/json": {},
              "application/xml": "<HealthHeartbeatGet200ApplicationXmlResponse />",
              "text/xml": "<HealthHeartbeatGet200TextXmlResponse />"
            }
          }
        }
      }
    },
    "/pricing/future_prices/{sku}/{storeNumber}": {
      "get": {
        "description": "Get future item price by item and store numbers",
        "operationId": "Future-Price-by-SKU-and-Store",
        "summary": "Future Price by SKU and Store",
        "tags": [
          "Pricing"
        ],
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "description": "Format - int32. Item Number",
            "required": true,
            "type": "integer"
          },
          {
            "name": "storeNumber",
            "in": "path",
            "description": "Format - int32. Store Number",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FuturePriceArray"
            },
            "examples": {
              "application/json": [
                {
                  "StoreNumber": 0,
                  "StoreName": "string",
                  "Sku": 0,
                  "LeadSku": 0,
                  "DepartmentId": 0,
                  "Price": 0.0,
                  "PromotionalPrice": 0.0,
                  "PromotionalQuantity": 0,
                  "PromotionStartDate": "string",
                  "PromotionEndDate": "string",
                  "PriceStartDate": "string",
                  "PriceEndDate": "string",
                  "PriceEffectiveDate": "string",
                  "PriceType": "string",
                  "Quantity": 0,
                  "UnitQuantity": 0,
                  "UnitQuantityDecimal": 0.0,
                  "UnitOfMeasure": "string",
                  "UnitPrice": 0.0,
                  "UnitPriceUnitOfMeasure": "string",
                  "HasPromotion": 0,
                  "CouponFamily": "string",
                  "IsCouponShoppersClub": 0,
                  "IsCouponQuantityEnforced": 0,
                  "CouponMaxRedemptions": 0,
                  "CouponCartMinimum": 0.0,
                  "CouponMinQuantity": 0,
                  "CouponValueMode": "string",
                  "CouponValue": 0.0,
                  "CouponBuy": 0,
                  "CouponGet": 0,
                  "PromotionType": "string",
                  "IsCouponCardRequired": 0,
                  "IsSoldByRandomWeight": true,
                  "CouponUpc": 0,
                  "CouponStartDate": "string",
                  "CouponEndDate": "string",
                  "AdTypeCode": "string",
                  "AdLayoutCode": "string",
                  "AdQualityCode": "string",
                  "AdMerchandisingTypeCode": "string",
                  "AdPreorderCode": "string",
                  "Links": [
                    {
                      "Rel": "string",
                      "HRef": "string",
                      "Method": "string"
                    }
                  ]
                }
              ],
              "text/json": [
                {
                  "StoreNumber": 0,
                  "StoreName": "string",
                  "Sku": 0,
                  "LeadSku": 0,
                  "DepartmentId": 0,
                  "Price": 0.0,
                  "PromotionalPrice": 0.0,
                  "PromotionalQuantity": 0,
                  "PromotionStartDate": "string",
                  "PromotionEndDate": "string",
                  "PriceStartDate": "string",
                  "PriceEndDate": "string",
                  "PriceEffectiveDate": "string",
                  "PriceType": "string",
                  "Quantity": 0,
                  "UnitQuantity": 0,
                  "UnitQuantityDecimal": 0.0,
                  "UnitOfMeasure": "string",
                  "UnitPrice": 0.0,
                  "UnitPriceUnitOfMeasure": "string",
                  "HasPromotion": 0,
                  "CouponFamily": "string",
                  "IsCouponShoppersClub": 0,
                  "IsCouponQuantityEnforced": 0,
                  "CouponMaxRedemptions": 0,
                  "CouponCartMinimum": 0.0,
                  "CouponMinQuantity": 0,
                  "CouponValueMode": "string",
                  "CouponValue": 0.0,
                  "CouponBuy": 0,
                  "CouponGet": 0,
                  "PromotionType": "string",
                  "IsCouponCardRequired": 0,
                  "IsSoldByRandomWeight": true,
                  "CouponUpc": 0,
                  "CouponStartDate": "string",
                  "CouponEndDate": "string",
                  "AdTypeCode": "string",
                  "AdLayoutCode": "string",
                  "AdQualityCode": "string",
                  "AdMerchandisingTypeCode": "string",
                  "AdPreorderCode": "string",
                  "Links": [
                    {
                      "Rel": "string",
                      "HRef": "string",
                      "Method": "string"
                    }
                  ]
                }
              ],
              "application/xml": "<FuturePriceArray>\r\n  <StoreNumber>0</StoreNumber>\r\n  <StoreName>string</StoreName>\r\n  <Sku>0</Sku>\r\n  <LeadSku>0</LeadSku>\r\n  <DepartmentId>0</DepartmentId>\r\n  <Price>0</Price>\r\n  <PromotionalPrice>0</PromotionalPrice>\r\n  <PromotionalQuantity>0</PromotionalQuantity>\r\n  <PromotionStartDate>string</PromotionStartDate>\r\n  <PromotionEndDate>string</PromotionEndDate>\r\n  <PriceStartDate>string</PriceStartDate>\r\n  <PriceEndDate>string</PriceEndDate>\r\n  <PriceEffectiveDate>string</PriceEffectiveDate>\r\n  <PriceType>string</PriceType>\r\n  <Quantity>0</Quantity>\r\n  <UnitQuantity>0</UnitQuantity>\r\n  <UnitQuantityDecimal>0</UnitQuantityDecimal>\r\n  <UnitOfMeasure>string</UnitOfMeasure>\r\n  <UnitPrice>0</UnitPrice>\r\n  <UnitPriceUnitOfMeasure>string</UnitPriceUnitOfMeasure>\r\n  <HasPromotion>0</HasPromotion>\r\n  <CouponFamily>string</CouponFamily>\r\n  <IsCouponShoppersClub>0</IsCouponShoppersClub>\r\n  <IsCouponQuantityEnforced>0</IsCouponQuantityEnforced>\r\n  <CouponMaxRedemptions>0</CouponMaxRedemptions>\r\n  <CouponCartMinimum>0</CouponCartMinimum>\r\n  <CouponMinQuantity>0</CouponMinQuantity>\r\n  <CouponValueMode>string</CouponValueMode>\r\n  <CouponValue>0</CouponValue>\r\n  <CouponBuy>0</CouponBuy>\r\n  <CouponGet>0</CouponGet>\r\n  <PromotionType>string</PromotionType>\r\n  <IsCouponCardRequired>0</IsCouponCardRequired>\r\n  <IsSoldByRandomWeight>true</IsSoldByRandomWeight>\r\n  <CouponUpc>0</CouponUpc>\r\n  <CouponStartDate>string</CouponStartDate>\r\n  <CouponEndDate>string</CouponEndDate>\r\n  <AdTypeCode>string</AdTypeCode>\r\n  <AdLayoutCode>string</AdLayoutCode>\r\n  <AdQualityCode>string</AdQualityCode>\r\n  <AdMerchandisingTypeCode>string</AdMerchandisingTypeCode>\r\n  <AdPreorderCode>string</AdPreorderCode>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</FuturePriceArray>",
              "text/xml": "<FuturePriceArray>\r\n  <StoreNumber>0</StoreNumber>\r\n  <StoreName>string</StoreName>\r\n  <Sku>0</Sku>\r\n  <LeadSku>0</LeadSku>\r\n  <DepartmentId>0</DepartmentId>\r\n  <Price>0</Price>\r\n  <PromotionalPrice>0</PromotionalPrice>\r\n  <PromotionalQuantity>0</PromotionalQuantity>\r\n  <PromotionStartDate>string</PromotionStartDate>\r\n  <PromotionEndDate>string</PromotionEndDate>\r\n  <PriceStartDate>string</PriceStartDate>\r\n  <PriceEndDate>string</PriceEndDate>\r\n  <PriceEffectiveDate>string</PriceEffectiveDate>\r\n  <PriceType>string</PriceType>\r\n  <Quantity>0</Quantity>\r\n  <UnitQuantity>0</UnitQuantity>\r\n  <UnitQuantityDecimal>0</UnitQuantityDecimal>\r\n  <UnitOfMeasure>string</UnitOfMeasure>\r\n  <UnitPrice>0</UnitPrice>\r\n  <UnitPriceUnitOfMeasure>string</UnitPriceUnitOfMeasure>\r\n  <HasPromotion>0</HasPromotion>\r\n  <CouponFamily>string</CouponFamily>\r\n  <IsCouponShoppersClub>0</IsCouponShoppersClub>\r\n  <IsCouponQuantityEnforced>0</IsCouponQuantityEnforced>\r\n  <CouponMaxRedemptions>0</CouponMaxRedemptions>\r\n  <CouponCartMinimum>0</CouponCartMinimum>\r\n  <CouponMinQuantity>0</CouponMinQuantity>\r\n  <CouponValueMode>string</CouponValueMode>\r\n  <CouponValue>0</CouponValue>\r\n  <CouponBuy>0</CouponBuy>\r\n  <CouponGet>0</CouponGet>\r\n  <PromotionType>string</PromotionType>\r\n  <IsCouponCardRequired>0</IsCouponCardRequired>\r\n  <IsSoldByRandomWeight>true</IsSoldByRandomWeight>\r\n  <CouponUpc>0</CouponUpc>\r\n  <CouponStartDate>string</CouponStartDate>\r\n  <CouponEndDate>string</CouponEndDate>\r\n  <AdTypeCode>string</AdTypeCode>\r\n  <AdLayoutCode>string</AdLayoutCode>\r\n  <AdQualityCode>string</AdQualityCode>\r\n  <AdMerchandisingTypeCode>string</AdMerchandisingTypeCode>\r\n  <AdPreorderCode>string</AdPreorderCode>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</FuturePriceArray>"
            }
[...]
