{
    "swagger": "2.0",
    "info": {
        "title": "Product",
        "version": "1.0"
    },
    "host": "wegmans-es.azure-api.net",
    "basePath": "/product",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "Product-Subscription-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "subscription-key",
            "in": "query"
        },
        "oauth2Azure Active Directory": {
            "type": "oauth2",
            "scopes": {},
            "flow": "application",
            "tokenUrl": "https://login.microsoftonline.com/1318d57f-757b-45b3-b1b0-9b3c3842774f/oauth2/token"
        }
    },
    "security": [
        {
            "apiKeyHeader": [],
            "oauth2Azure Active Directory": []
        },
        {
            "apiKeyQuery": [],
            "oauth2Azure Active Directory": []
        }
    ],
    "paths": {
        "/productavailability/{sku}/{storeNumber}": {
            "get": {
                "description": "Get item availability information by Item Number and Store Number",
                "operationId": "Availablity-by-SKU-and-Store",
                "summary": "Availability by SKU and Store",
                "tags": [
                    "ProductAvailability"
                ],
                "parameters": [
                    {
                        "name": "sku",
                        "in": "path",
                        "description": "Format - int32. Item Number",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "storeNumber",
                        "in": "path",
                        "description": "Format - int32. Store Number",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AvailabilityArray"
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "StoreNumber": 0,
                                    "Sku": 0,
                                    "IsAvailable": true,
                                    "InventoryAmount": "string",
                                    "Velocity": 0,
                                    "LastSaleDate": "string",
                                    "LastUpdatedDate": "string",
                                    "Links": [
                                        {
                                            "Rel": "string",
                                            "HRef": "string",
                                            "Method": "string"
                                        }
                                    ]
                                }
                            ],
                            "text/json": [
                                {
                                    "StoreNumber": 0,
                                    "Sku": 0,
                                    "IsAvailable": true,
                                    "InventoryAmount": "string",
                                    "Velocity": 0,
                                    "LastSaleDate": "string",
                                    "LastUpdatedDate": "string",
                                    "Links": [
                                        {
                                            "Rel": "string",
                                            "HRef": "string",
                                            "Method": "string"
                                        }
                                    ]
                                }
                            ],
                            "application/xml": "<AvailabilityArray>\r\n  <StoreNumber>0</StoreNumber>\r\n  <Sku>0</Sku>\r\n  <IsAvailable>true</IsAvailable>\r\n  <InventoryAmount>string</InventoryAmount>\r\n  <Velocity>0</Velocity>\r\n  <LastSaleDate>string</LastSaleDate>\r\n  <LastUpdatedDate>string</LastUpdatedDate>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</AvailabilityArray>",
                            "text/xml": "<AvailabilityArray>\r\n  <StoreNumber>0</StoreNumber>\r\n  <Sku>0</Sku>\r\n  <IsAvailable>true</IsAvailable>\r\n  <InventoryAmount>string</InventoryAmount>\r\n  <Velocity>0</Velocity>\r\n  <LastSaleDate>string</LastSaleDate>\r\n  <LastUpdatedDate>string</LastUpdatedDate>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</AvailabilityArray>"
                        }
                    }
                }
            }
        },
        "/productavailability/{sku}/stores": {
            "get": {
                "description": "Get item availability for the entire chain by item sku",
                "operationId": "Availability-by-SKU",
                "summary": "Availability by SKU",
                "tags": [
                    "ProductAvailability"
                ],
                "parameters": [
                    {
                        "name": "sku",
                        "in": "path",
                        "description": "Format - int32.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ProductAvailability"
                        },
                        "examples": {
                            "application/json": {
                                "Sku": 0,
                                "IsChainAvailable": true,
                                "Velocity": 0,
                                "StoreAvailability": [
                                    {
                                        "StoreNumber": 0,
                                        "Sku": 0,
                                        "IsAvailable": true,
                                        "InventoryAmount": "string",
                                        "Velocity": 0,
                                        "LastSaleDate": "string",
                                        "LastUpdatedDate": "string",
                                        "Links": [
                                            {
                                                "Rel": "string",
                                                "HRef": "string",
                                                "Method": "string"
                                            }
                                        ]
                                    }
                                ],
                                "Links": [
                                    {
                                        "Rel": "string",
                                        "HRef": "string",
                                        "Method": "string"
                                    }
                                ]
                            },
                            "text/json": {
                                "Sku": 0,
                                "IsChainAvailable": true,
                                "Velocity": 0,
                                "StoreAvailability": [
                                    {
                                        "StoreNumber": 0,
                                        "Sku": 0,
                                        "IsAvailable": true,
                                        "InventoryAmount": "string",
                                        "Velocity": 0,
                                        "LastSaleDate": "string",
                                        "LastUpdatedDate": "string",
                                        "Links": [
                                            {
                                                "Rel": "string",
                                                "HRef": "string",
                                                "Method": "string"
                                            }
                                        ]
                                    }
                                ],
                                "Links": [
                                    {
                                        "Rel": "string",
                                        "HRef": "string",
                                        "Method": "string"
                                    }
                                ]
                            },
                            "application/xml": "<ProductAvailability>\r\n  <Sku>0</Sku>\r\n  <IsChainAvailable>true</IsChainAvailable>\r\n  <Velocity>0</Velocity>\r\n  <StoreAvailability>\r\n    <StoreNumber>0</StoreNumber>\r\n    <Sku>0</Sku>\r\n    <IsAvailable>true</IsAvailable>\r\n    <InventoryAmount>string</InventoryAmount>\r\n    <Velocity>0</Velocity>\r\n    <LastSaleDate>string</LastSaleDate>\r\n    <LastUpdatedDate>string</LastUpdatedDate>\r\n    <Links>\r\n      <Rel>string</Rel>\r\n      <HRef>string</HRef>\r\n      <Method>string</Method>\r\n    </Links>\r\n  </StoreAvailability>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</ProductAvailability>",
                            "text/xml": "<ProductAvailability>\r\n  <Sku>0</Sku>\r\n  <IsChainAvailable>true</IsChainAvailable>\r\n  <Velocity>0</Velocity>\r\n  <StoreAvailability>\r\n    <StoreNumber>0</StoreNumber>\r\n    <Sku>0</Sku>\r\n    <IsAvailable>true</IsAvailable>\r\n    <InventoryAmount>string</InventoryAmount>\r\n    <Velocity>0</Velocity>\r\n    <LastSaleDate>string</LastSaleDate>\r\n    <LastUpdatedDate>string</LastUpdatedDate>\r\n    <Links>\r\n      <Rel>string</Rel>\r\n      <HRef>string</HRef>\r\n      <Method>string</Method>\r\n    </Links>\r\n  </StoreAvailability>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</ProductAvailability>"
                        }
                    }
                }
            }
        },
        "/productavailability/horizon/{departmentId}": {
            "get": {
                "description": "Get availability horizon by department",
                "operationId": "Availability-Horizon-by-Department",
                "summary": "Availability Horizon by Department",
                "tags": [
                    "ProductAvailability"
                ],
                "parameters": [
                    {
                        "name": "departmentId",
                        "in": "path",
                        "description": "Format - int32. Department Number",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AvailabilityHorizon"
                        },
                        "examples": {
                            "application/json": {
                                "SupplyHorizonDays": 0,
                                "DemandHorizonDays": 0
                            },
                            "text/json": {
                                "SupplyHorizonDays": 0,
                                "DemandHorizonDays": 0
                            },
                            "application/xml": "<AvailabilityHorizon>\r\n  <SupplyHorizonDays>0</SupplyHorizonDays>\r\n  <DemandHorizonDays>0</DemandHorizonDays>\r\n</AvailabilityHorizon>",
                            "text/xml": "<AvailabilityHorizon>\r\n  <SupplyHorizonDays>0</SupplyHorizonDays>\r\n  <DemandHorizonDays>0</DemandHorizonDays>\r\n</AvailabilityHorizon>"
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "post": {
                "description": "Set availability horizon by department",
                "operationId": "Set-Availability-Horizon-by-Department",
                "summary": "Set Availability Horizon by Department",
                "tags": [
                    "ProductAvailability"
                ],
                "parameters": [
                    {
                        "name": "departmentId",
                        "in": "path",
                        "description": "Format - int32. Department Number",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "availabilityHorizon",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AvailabilityHorizon"
                        },
                        "description": "Update values for Availability Horizons"
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ProductavailabilityHorizonDepartmentIdPost200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": true,
                            "text/json": true,
                            "application/xml": "<ProductavailabilityHorizonDepartmentIdPost200ApplicationXmlResponse>true</ProductavailabilityHorizonDepartmentIdPost200ApplicationXmlResponse>",
                            "text/xml": "<ProductavailabilityHorizonDepartmentIdPost200TextXmlResponse>true</ProductavailabilityHorizonDepartmentIdPost200TextXmlResponse>"
                        }
                    }
                }
            }
        },
        "/productavailability/initialize": {
            "post": {
                "description": "Sets item availability information for a store based on an existing store",
                "operationId": "Availability-Clone-Store",
                "summary": "Availability Clone Store",
                "tags": [
                    "ProductAvailability"
                ],
                "parameters": [
                    {
                        "name": "availabilityInitialization",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AvailabilityInitialization"
                        },
                        "description": "Information for source and destination store"
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ProductavailabilityInitializePost200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": {},
                            "text/json": {},
                            "application/xml": "<ProductavailabilityInitializePost200ApplicationXmlResponse />",
                            "text/xml": "<ProductavailabilityInitializePost200TextXmlResponse />"
                        }
                    }
                }
            }
        },
        "/producthierarchies": {
            "get": {
                "description": "Get the definitions of the product hierarchies",
                "operationId": "Hierarchy-Definitions",
                "summary": "Hierarchy Definitions",
                "tags": [
                    "ProductHierarchies"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/HierarchyDefinitionArray"
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "Name": "string",
                                    "Levels": [
                                        {
                                            "LevelRank": 0,
                                            "Description": "string"
                                        }
                                    ]
                                }
                            ],
                            "text/json": [
                                {
                                    "Name": "string",
                                    "Levels": [
                                        {
                                            "LevelRank": 0,
                                            "Description": "string"
                                        }
                                    ]
                                }
                            ],
                            "application/xml": "<HierarchyDefinitionArray>\r\n  <Name>string</Name>\r\n  <Levels>\r\n    <LevelRank>0</LevelRank>\r\n    <Description>string</Description>\r\n  </Levels>\r\n</HierarchyDefinitionArray>",
                            "text/xml": "<HierarchyDefinitionArray>\r\n  <Name>string</Name>\r\n  <Levels>\r\n    <LevelRank>0</LevelRank>\r\n    <Description>string</Description>\r\n  </Levels>\r\n</HierarchyDefinitionArray>"
                        }
                    },
                    "404": {
                        "description": "Not found - No hierarchy definitions were found"
                    }
                }
            }
        },
        "/producthierarchies/{hierarchyName}": {
            "get": {
                "description": "Get the full hierarchy of the specified name.",
                "operationId": "Hierarchy-by-Name",
                "summary": "Hierarchy by Name",
                "tags": [
                    "ProductHierarchies"
                ],
                "parameters": [
                    {
                        "name": "hierarchyName",
                        "in": "path",
                        "description": "The name of the hierarchy to retrieve (e.g. Merchandising)",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Hierarchy"
                        }
                    },
                    "404": {
                        "description": "Not found - No hierarchy with the specified name was found"
                    }
                }
            }
        },
        "/producthierarchies/{hierarchyName}/{levelOneId}": {
            "get": {
                "description": "Get the full hierarchy of the specified name.",
                "operationId": "Hierarchy-by-Level-1-Id",
                "summary": "Hierarchy by Level 1 Id",
                "tags": [
                    "ProductHierarchies"
                ],
                "parameters": [
                    {
                        "name": "hierarchyName",
                        "in": "path",
                        "description": "The name of the hierarchy to retrieve (e.g. Merchandising)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "levelOneId",
                        "in": "path",
                        "description": "Format - int32. The id of the first level of the hierarchy (e.g. Id of \"Bakery\" [the department])",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Hierarchy"
                        }
                    },
                    "404": {
                        "description": "Not found - No hierarchy with the specified name was found"
                    }
                }
            }
        },
        "/producthierarchies/{hierarchyName}/{levelOneId}/{levelTwoId}": {
            "get": {
                "description": "Get the full hierarchy of the specified name.",
                "operationId": "Hierarchy-by-Level-2-Id",
                "summary": "Hierarchy by Level 2 Id",
                "tags": [
                    "ProductHierarchies"
                ],
                "parameters": [
                    {
                        "name": "hierarchyName",
                        "in": "path",
                        "description": "The name of the hierarchy to retrieve (e.g. Merchandising)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "levelOneId",
                        "in": "path",
                        "description": "Format - int32. The id of the first level of the hierarchy (e.g. Id of \"Bakery\" [the department])",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "levelTwoId",
                        "in": "path",
                        "description": "Format - int32. The id of the second level of the hierarchy (e.g. Id of \"WHITE BREADS\" [the category])",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Hierarchy"
                        }
                    },
                    "404": {
                        "description": "Not found - No hierarchy with the specified name was found"
                    }
                }
            }
        },
        "/producthierarchies/{hierarchyName}/{levelOneId}/{levelTwoId}/{levelThreeId}": {
            "get": {
                "description": "Get the full hierarchy of the specified name.",
                "operationId": "Hierarchy-by-Level-3-Id",
                "summary": "Hierarchy by Level 3 Id",
                "tags": [
                    "ProductHierarchies"
                ],
                "parameters": [
                    {
                        "name": "hierarchyName",
                        "in": "path",
                        "description": "The name of the hierarchy to retrieve (e.g. Merchandising)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "levelOneId",
                        "in": "path",
                        "description": "Format - int32. The id of the first level of the hierarchy (e.g. Id of \"Bakeshop\" [the department])",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "levelTwoId",
                        "in": "path",
                        "description": "Format - int32. The id of the second level of the hierarchy (e.g. Id of \"WHITE BREADS\" [the category])",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "levelThreeId",
                        "in": "path",
                        "description": "Format - int32. The id of the third level of the hierarchy (e.g. Id of \"WEGMAN WHITE BREAD\" [the class])",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Hierarchy"
                        }
                    },
                    "404": {
                        "description": "Not found - No hierarchy with the specified name was found"
                    }
                }
            }
        },
        "/productlocations/{sku}/{storeNumber}": {
            "get": {
                "description": "Moved Permanently - Get item location information",
                "operationId": "Locations-by-SKU-and-Store",
                "summary": "Moved Permanently - Locations by SKU and Store",
                "tags": [
                    "ProductLocations"
                ],
                "parameters": [
                    {
                        "name": "sku",
                        "in": "path",
                        "description": "Format - int32. Item Number",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "storeNumber",
                        "in": "path",
                        "description": "Format - int32. Store Number",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "301": {
                        "description": "Moved Permanently"
                    }
                }
            }
        },
        "/productlocations/{sku}": {
            "get": {
                "description": "Moved Permanently - Get the locations for all stores for the given sku.",
                "operationId": "Locations-by-SKU",
                "summary": "Moved Permanently - Locations by SKU",
                "tags": [
                    "ProductLocations"
                ],
                "parameters": [
                    {
                        "name": "sku",
                        "in": "path",
                        "description": "Format - int32. Item Number",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "301": {
                        "description": "Moved Permanently"
                    }
                }
            }
        },
        "/productlocations/{storeNumber}": {
            "post": {
                "description": "Moved Permanently - Gets item location for a list of skus",
                "operationId": "Locations-by-SKUs",
                "summary": "Moved Permanently - Locations by SKUs",
                "tags": [
                    "ProductLocations"
                ],
                "parameters": [
                    {
                        "name": "storeNumber",
                        "in": "path",
                        "description": "Format - int32. Store Number",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "skus",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Skus"
                        },
                        "description": "List of SKUs"
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "301": {
                        "description": "Moved Permanently"
                    }
                }
            }
        },
        "/productlocations": {
            "post": {
                "description": "Moved Permanently - Saves a product location",
                "operationId": "Location-Create",
                "summary": "Moved Permanently - Location Create",
                "tags": [
                    "ProductLocations"
                ],
                "parameters": [
                    {
                        "name": "location",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Location"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "301": {
                        "description": "Moved Permanently"
                    }
                }
            },
            "delete": {
                "description": "Moved Permanently - Creates a new product location",
                "operationId": "Location-Delete",
                "summary": "Moved Permanently - Location Delete",
                "tags": [
                    "ProductLocations"
                ],
                "parameters": [
                    {
                        "name": "location",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Location"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "301": {
                        "description": "Moved Permanently"
                    }
                }
            }
        },
        "/products/{sku}": {
            "get": {
                "description": "Get item information by Item Number",
                "operationId": "Product-by-SKU",
                "summary": "Product by SKU",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "sku",
                        "in": "path",
                        "description": "Format - int32. Item Number",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Product"
                        },
                        "examples": {
                            "application/json": {
                                "Sku": 0,
                                "Description": "string",
                                "ShortDescription": "string",
                                "BrandName": "string",
                                "NumericSize": 0,
                                "NumericSizeUOM": "string",
                                "DepartmentNumber": 0,
                                "DepartmentName": "string",
                                "ProductType": "string",
                                "Status": "string",
                                "StatusDescription": "string",
                                "PreliminaryItemStatus": "string",
                                "AvailableFromVendorDate": "string",
                                "BrandOwner": "string",
                                "SubBrand": "string",
                                "Color": "string",
                                "ConsumerSafetyInformation": "string",
                                "CountryOfOrigin": "string",
                                "CountryOfOriginStatement": "string",
                                "CouponFamilyCode": "string",
                                "FirstShipDate": "string",
                                "FormDescription": "string",
                                "HandlingInstructionsCode": "string",
                                "ProductHandling": "string",
                                "HasDisplayReadyPackaging": "string",
                                "InformationProviderGlobalLocationNumber": "string",
                                "IsItemDisplayUnit": "string",
                                "IsPriceOnPack": "string",
                                "ItemFeatureBenefit": "string",
                                "LabelDescription": "string",
                                "Manufacturer": "string",
                                "ManufacturerInfo": {
                                    "Manufacturer": "string",
                                    "ManufacturerAddress": "string",
                                    "ManufacturerPhone": "string"
                                },
                                "InformationProviderName": "string",
                                "ProductDisclaimer": "string",
                                "Size": "string",
                                "StorageInstructions": "string",
                                "StudioName": "string",
                                "TargetConsumerAge": "string",
                                "TargetConsumerGender": "string",
                                "UnitsPerItem": 0,
                                "UsageInstructions": "string",
                                "Warnings": "string",
                                "NounName": "string",
                                "OrderOwner": "string",
                                "CreatedBy": "string",
                                "CreatedDateTime": "string",
                                "UpdatedBy": "string",
                                "UpdatedDateTime": "string",
                                "BuyerId": "string",
                                "BuyerNumber": 0,
                                "BuyerName": "string",
                                "ReplenishmentType": "string",
                                "QRType": "string",
                                "IsBigPack": true,
                                "IsRawMaterial": true,
                                "PointOfSaleDescription": "string",
                                "ConsumerDescription": "string",
                                "ProductLine": "string",
                                "WegmansPack": 0,
                                "VendorPack": 0,
                                "StoreReplenishmentQuantity": 0,
                                "ReplenishmentInMultiplesOf": 0,
                                "LegacyItemType": "string",
                                "LegacyBarcodeUsageCode": "string",
                                "ScaleUnitOfMeasure": "string",
                                "TradeIdentifierConfigurations": [
                                    {
                                        "TradeIdentifiers": [
                                            {
                                                "Images": [
                                                    {
                                                        "Url": "string"
                                                    }
                                                ],
                                                "Barcodes": [
                                                    "string"
                                                ],
                                                "ChildQuantity": 0,
                                                "Depth": 0,
                                                "DepthUnitOfMeasure": "string",
                                                "GlobalTradeIdentifier": 0,
                                                "Height": 0,
                                                "HeightUnitOfMeasure": "string",
                                                "HierarchyOrder": 0,
                                                "Identifier": "string",
                                                "AverageSellableWeight": 0,
                                                "IsConsumable": true,
                                                "IsOrderable": true,
                                                "ParentGlobalTradeIdentifier": 0,
                                                "ParentIdentifier": "string",
                                                "QuantityOfItemsPerPalletLayer": 0,
                                                "QuantityOfLayersPerPallet": 0,
                                                "TradeItemsInACompleteLayerQuantity": 0,
                                                "TradeItemUnitDescriptor": "string",
                                                "Weight": 0,
                                                "WeightUnitOfMeasure": "string",
                                                "Width": 0,
                                                "WidthUnitOfMeasure": "string",
                                                "IsStoreReplenishable": true,
                                                "QuantityOfNextLowerLevelTradeItem": 0,
                                                "QuantityOfRetailUnits": 0,
                                                "AverageCaseWeight": 0,
                                                "Dimension": {
                                                    "Height": 0,
                                                    "HeightUnitOfMeasure": "string",
                                                    "Width": 0,
                                                    "WidthUnitOfMeasure": "string",
                                                    "Depth": 0,
                                                    "DepthUnitOfMeasure": "string",
                                                    "Weight": 0,
                                                    "WeightUnitOfMeasure": "string",
                                                    "DrainedWeight": 0,
                                                    "DrainedWeightUnitOfMeasure": "string",
                                                    "NetWeight": 0,
                                                    "NetWeightUnitOfMeasure": "string",
                                                    "PackagingWeight": 0,
                                                    "PackagingWeightUnitOfMeasure": "string",
                                                    "StackingWeightMaximum": 0,
                                                    "StackingWeightMaximumUnitOfMeasure": "string"
                                                }
                                            }
                                        ]
                                    }
                                ],
                                "StateSettings": [
                                    {
                                        "StateAbbreviation": "string",
                                        "AgeVerification": 0,
                                        "TaxType": 0,
                                        "TaxTypeDescription": "string",
                                        "IsDeposit": true,
                                        "IsMultipleCoupon": true,
                                        "IsWIC": true,
                                        "IsWICOnSign": true,
                                        "IsMealTax": true,
                                        "CouponFamilyCode": 0,
                                        "IsFoodStampable": true,
                                        "IsFrontEndScalable": true,
                                        "IsReturnable": true,
                                        "IsRefundable": true,
                                        "IsPriceRequired": true,
                                        "IsForcedPrice": true,
                                        "IsNonDiscountable": true,
                                        "DepositBarcode": "string",
                                        "MaxPurchaseQuantity": 0
                                    }
                                ],
                                "EcommerceEnabled": true,
                                "TaxCode": "string",
                                "SellByUnit": "string",
                                "ItemTags": {
                                    "IsFamilyPack": true,
                                    "IsFreshCutVegetables": true,
                                    "IsFoodYouFeelGoodAbout": true,
                                    "IsOrganic": true,
                                    "IsPrivateLabel": true,
                                    "IsReadyToCook": true,
                                    "IsWegmansBrand": true
                                },
                                "SoldByUOM": "string",
                                "ConsumerBrand": "string",
                                "ConsumerSubBrand": "string",
                                "AuthorizedCatalogDepartment": 0,
                                "IsReducedDelivery": true,
                                "MerchantControlled": true,
                                "Merchant": "string",
                                "DiscontinueInfo": {
                                    "ReplacementItemNumber": 0,
                                    "DiscontinueReason": "string",
                                    "DiscontinueNotes": "string",
                                    "DiscontinueDate": "string",
                                    "SuspendStartDate": "string",
                                    "SuspendEndDate": "string"
                                },
                                "Links": [
                                    {
                                        "Rel": "string",
                                        "HRef": "string",
                                        "Method": "string"
                                    }
                                ]
                            },
                            "text/json": {
                                "Sku": 0,
                                "Description": "string",
                                "ShortDescription": "string",
                                "BrandName": "string",
                                "NumericSize": 0,
                                "NumericSizeUOM": "string",
                                "DepartmentNumber": 0,
                                "DepartmentName": "string",
                                "ProductType": "string",
                                "Status": "string",
                                "StatusDescription": "string",
                                "PreliminaryItemStatus": "string",
                                "AvailableFromVendorDate": "string",
                                "BrandOwner": "string",
                                "SubBrand": "string",
                                "Color": "string",
                                "ConsumerSafetyInformation": "string",
                                "CountryOfOrigin": "string",
                                "CountryOfOriginStatement": "string",
                                "CouponFamilyCode": "string",
                                "FirstShipDate": "string",
                                "FormDescription": "string",
                                "HandlingInstructionsCode": "string",
                                "ProductHandling": "string",
                                "HasDisplayReadyPackaging": "string",
                                "InformationProviderGlobalLocationNumber": "string",
                                "IsItemDisplayUnit": "string",
                                "IsPriceOnPack": "string",
                                "ItemFeatureBenefit": "string",
                                "LabelDescription": "string",
                                "Manufacturer": "string",
                                "ManufacturerInfo": {
                                    "Manufacturer": "string",
                                    "ManufacturerAddress": "string",
                                    "ManufacturerPhone": "string"
                                },
                                "InformationProviderName": "string",
                                "ProductDisclaimer": "string",
                                "Size": "string",
                                "StorageInstructions": "string",
                                "StudioName": "string",
                                "TargetConsumerAge": "string",
                                "TargetConsumerGender": "string",
                                "UnitsPerItem": 0,
                                "UsageInstructions": "string",
                                "Warnings": "string",
                                "NounName": "string",
                                "OrderOwner": "string",
                                "CreatedBy": "string",
                                "CreatedDateTime": "string",
                                "UpdatedBy": "string",
                                "UpdatedDateTime": "string",
                                "BuyerId": "string",
                                "BuyerNumber": 0,
                                "BuyerName": "string",
                                "ReplenishmentType": "string",
                                "QRType": "string",
                                "IsBigPack": true,
                                "IsRawMaterial": true,
                                "PointOfSaleDescription": "string",
                                "ConsumerDescription": "string",
                                "ProductLine": "string",
                                "WegmansPack": 0,
                                "VendorPack": 0,
                                "StoreReplenishmentQuantity": 0,
                                "ReplenishmentInMultiplesOf": 0,
                                "LegacyItemType": "string",
                                "LegacyBarcodeUsageCode": "string",
                                "ScaleUnitOfMeasure": "string",
                                "TradeIdentifierConfigurations": [
                                    {
                                        "TradeIdentifiers": [
                                            {
                                                "Images": [
                                                    {
                                                        "Url": "string"
                                                    }
                                                ],
                                                "Barcodes": [
                                                    "string"
                                                ],
                                                "ChildQuantity": 0,
                                                "Depth": 0,
                                                "DepthUnitOfMeasure": "string",
                                                "GlobalTradeIdentifier": 0,
                                                "Height": 0,
                                                "HeightUnitOfMeasure": "string",
                                                "HierarchyOrder": 0,
                                                "Identifier": "string",
                                                "AverageSellableWeight": 0,
                                                "IsConsumable": true,
                                                "IsOrderable": true,
                                                "ParentGlobalTradeIdentifier": 0,
                                                "ParentIdentifier": "string",
                                                "QuantityOfItemsPerPalletLayer": 0,
                                                "QuantityOfLayersPerPallet": 0,
                                                "TradeItemsInACompleteLayerQuantity": 0,
                                                "TradeItemUnitDescriptor": "string",
                                                "Weight": 0,
                                                "WeightUnitOfMeasure": "string",
                                                "Width": 0,
                                                "WidthUnitOfMeasure": "string",
                                                "IsStoreReplenishable": true,
                                                "QuantityOfNextLowerLevelTradeItem": 0,
                                                "QuantityOfRetailUnits": 0,
                                                "AverageCaseWeight": 0,
                                                "Dimension": {
                                                    "Height": 0,
                                                    "HeightUnitOfMeasure": "string",
                                                    "Width": 0,
                                                    "WidthUnitOfMeasure": "string",
                                                    "Depth": 0,
                                                    "DepthUnitOfMeasure": "string",
                                                    "Weight": 0,
                                                    "WeightUnitOfMeasure": "string",
                                                    "DrainedWeight": 0,
                                                    "DrainedWeightUnitOfMeasure": "string",
                                                    "NetWeight": 0,
                                                    "NetWeightUnitOfMeasure": "string",
                                                    "PackagingWeight": 0,
                                                    "PackagingWeightUnitOfMeasure": "string",
                                                    "StackingWeightMaximum": 0,
                                                    "StackingWeightMaximumUnitOfMeasure": "string"
                                                }
                                            }
                                        ]
                                    }
                                ],
                                "StateSettings": [
                                    {
                                        "StateAbbreviation": "string",
                                        "AgeVerification": 0,
                                        "TaxType": 0,
                                        "TaxTypeDescription": "string",
                                        "IsDeposit": true,
                                        "IsMultipleCoupon": true,
                                        "IsWIC": true,
                                        "IsWICOnSign": true,
                                        "IsMealTax": true,
                                        "CouponFamilyCode": 0,
                                        "IsFoodStampable": true,
                                        "IsFrontEndScalable": true,
                                        "IsReturnable": true,
                                        "IsRefundable": true,
                                        "IsPriceRequired": true,
                                        "IsForcedPrice": true,
                                        "IsNonDiscountable": true,
                                        "DepositBarcode": "string",
                                        "MaxPurchaseQuantity": 0
                                    }
                                ],
                                "EcommerceEnabled": true,
                                "TaxCode": "string",
                                "SellByUnit": "string",
                                "ItemTags": {
                                    "IsFamilyPack": true,
                                    "IsFreshCutVegetables": true,
                                    "IsFoodYouFeelGoodAbout": true,
                                    "IsOrganic": true,
                                    "IsPrivateLabel": true,
                                    "IsReadyToCook": true,
                                    "IsWegmansBrand": true
                                },
                                "SoldByUOM": "string",
                                "ConsumerBrand": "string",
                                "ConsumerSubBrand": "string",
                                "AuthorizedCatalogDepartment": 0,
                                "IsReducedDelivery": true,
                                "MerchantControlled": true,
                                "Merchant": "string",
                                "DiscontinueInfo": {
                                    "ReplacementItemNumber": 0,
                                    "DiscontinueReason": "string",
                                    "DiscontinueNotes": "string",
                                    "DiscontinueDate": "string",
                                    "SuspendStartDate": "string",
                                    "SuspendEndDate": "string"
                                },
                                "Links": [
                                    {
                                        "Rel": "string",
                                        "HRef": "string",
                                        "Method": "string"
                                    }
                                ]
                            },
                            "application/xml": "<Product>\r\n  <Sku>0</Sku>\r\n  <Description>string</Description>\r\n  <ShortDescription>string</ShortDescription>\r\n  <BrandName>string</BrandName>\r\n  <NumericSize>0</NumericSize>\r\n  <NumericSizeUOM>string</NumericSizeUOM>\r\n  <DepartmentNumber>0</DepartmentNumber>\r\n  <DepartmentName>string</DepartmentName>\r\n  <ProductType>string</ProductType>\r\n  <Status>string</Status>\r\n  <StatusDescription>string</StatusDescription>\r\n  <PreliminaryItemStatus>string</PreliminaryItemStatus>\r\n  <AvailableFromVendorDate>string</AvailableFromVendorDate>\r\n  <BrandOwner>string</BrandOwner>\r\n  <SubBrand>string</SubBrand>\r\n  <Color>string</Color>\r\n  <ConsumerSafetyInformation>string</ConsumerSafetyInformation>\r\n  <CountryOfOrigin>string</CountryOfOrigin>\r\n  <CountryOfOriginStatement>string</CountryOfOriginStatement>\r\n  <CouponFamilyCode>string</CouponFamilyCode>\r\n  <FirstShipDate>string</FirstShipDate>\r\n  <FormDescription>string</FormDescription>\r\n  <HandlingInstructionsCode>string</HandlingInstructionsCode>\r\n  <ProductHandling>string</ProductHandling>\r\n  <HasDisplayReadyPackaging>string</HasDisplayReadyPackaging>\r\n  <InformationProviderGlobalLocationNumber>string</InformationProviderGlobalLocationNumber>\r\n  <IsItemDisplayUnit>string</IsItemDisplayUnit>\r\n  <IsPriceOnPack>string</IsPriceOnPack>\r\n  <ItemFeatureBenefit>string</ItemFeatureBenefit>\r\n  <LabelDescription>string</LabelDescription>\r\n  <Manufacturer>string</Manufacturer>\r\n  <ManufacturerInfo>\r\n    <Manufacturer>string</Manufacturer>\r\n    <ManufacturerAddress>string</ManufacturerAddress>\r\n    <ManufacturerPhone>string</ManufacturerPhone>\r\n  </ManufacturerInfo>\r\n  <InformationProviderName>string</InformationProviderName>\r\n  <ProductDisclaimer>string</ProductDisclaimer>\r\n  <Size>string</Size>\r\n  <StorageInstructions>string</StorageInstructions>\r\n  <StudioName>string</StudioName>\r\n  <TargetConsumerAge>string</TargetConsumerAge>\r\n  <TargetConsumerGender>string</TargetConsumerGender>\r\n  <UnitsPerItem>0</UnitsPerItem>\r\n  <UsageInstructions>string</UsageInstructions>\r\n  <Warnings>string</Warnings>\r\n  <NounName>string</NounName>\r\n  <OrderOwner>string</OrderOwner>\r\n  <CreatedBy>string</CreatedBy>\r\n  <CreatedDateTime>string</CreatedDateTime>\r\n  <UpdatedBy>string</UpdatedBy>\r\n  <UpdatedDateTime>string</UpdatedDateTime>\r\n  <BuyerId>string</BuyerId>\r\n  <BuyerNumber>0</BuyerNumber>\r\n  <BuyerName>string</BuyerName>\r\n  <ReplenishmentType>string</ReplenishmentType>\r\n  <QRType>string</QRType>\r\n  <IsBigPack>true</IsBigPack>\r\n  <IsRawMaterial>true</IsRawMaterial>\r\n  <PointOfSaleDescription>string</PointOfSaleDescription>\r\n  <ConsumerDescription>string</ConsumerDescription>\r\n  <ProductLine>string</ProductLine>\r\n  <WegmansPack>0</WegmansPack>\r\n  <VendorPack>0</VendorPack>\r\n  <StoreReplenishmentQuantity>0</StoreReplenishmentQuantity>\r\n  <ReplenishmentInMultiplesOf>0</ReplenishmentInMultiplesOf>\r\n  <LegacyItemType>string</LegacyItemType>\r\n  <LegacyBarcodeUsageCode>string</LegacyBarcodeUsageCode>\r\n  <ScaleUnitOfMeasure>string</ScaleUnitOfMeasure>\r\n  <TradeIdentifierConfigurations>\r\n    <TradeIdentifiers>\r\n      <Images>\r\n        <Url>string</Url>\r\n      </Images>\r\n      <Barcodes>string</Barcodes>\r\n      <ChildQuantity>0</ChildQuantity>\r\n      <Depth>0</Depth>\r\n      <DepthUnitOfMeasure>string</DepthUnitOfMeasure>\r\n      <GlobalTradeIdentifier>0</GlobalTradeIdentifier>\r\n      <Height>0</Height>\r\n      <HeightUnitOfMeasure>string</HeightUnitOfMeasure>\r\n      <HierarchyOrder>0</HierarchyOrder>\r\n      <Identifier>string</Identifier>\r\n      <AverageSellableWeight>0</AverageSellableWeight>\r\n      <IsConsumable>true</IsConsumable>\r\n      <IsOrderable>true</IsOrderable>\r\n      <ParentGlobalTradeIdentifier>0</ParentGlobalTradeIdentifier>\r\n      <ParentIdentifier>string</ParentIdentifier>\r\n      <QuantityOfItemsPerPalletLayer>0</QuantityOfItemsPerPalletLayer>\r\n      <QuantityOfLayersPerPallet>0</QuantityOfLayersPerPallet>\r\n      <TradeItemsInACompleteLayerQuantity>0</TradeItemsInACompleteLayerQuantity>\r\n      <TradeItemUnitDescriptor>string</TradeItemUnitDescriptor>\r\n      <Weight>0</Weight>\r\n      <WeightUnitOfMeasure>string</WeightUnitOfMeasure>\r\n      <Width>0</Width>\r\n      <WidthUnitOfMeasure>string</WidthUnitOfMeasure>\r\n      <IsStoreReplenishable>true</IsStoreReplenishable>\r\n      <QuantityOfNextLowerLevelTradeItem>0</QuantityOfNextLowerLevelTradeItem>\r\n      <QuantityOfRetailUnits>0</QuantityOfRetailUnits>\r\n      <AverageCaseWeight>0</AverageCaseWeight>\r\n      <Dimension>\r\n        <Height>0</Height>\r\n        <HeightUnitOfMeasure>string</HeightUnitOfMeasure>\r\n        <Width>0</Width>\r\n        <WidthUnitOfMeasure>string</WidthUnitOfMeasure>\r\n        <Depth>0</Depth>\r\n        <DepthUnitOfMeasure>string</DepthUnitOfMeasure>\r\n        <Weight>0</Weight>\r\n        <WeightUnitOfMeasure>string</WeightUnitOfMeasure>\r\n        <DrainedWeight>0</DrainedWeight>\r\n        <DrainedWeightUnitOfMeasure>string</DrainedWeightUnitOfMeasure>\r\n        <NetWeight>0</NetWeight>\r\n        <NetWeightUnitOfMeasure>string</NetWeightUnitOfMeasure>\r\n        <PackagingWeight>0</PackagingWeight>\r\n        <PackagingWeightUnitOfMeasure>string</PackagingWeightUnitOfMeasure>\r\n        <StackingWeightMaximum>0</StackingWeightMaximum>\r\n        <StackingWeightMaximumUnitOfMeasure>string</StackingWeightMaximumUnitOfMeasure>\r\n      </Dimension>\r\n    </TradeIdentifiers>\r\n  </TradeIdentifierConfigurations>\r\n  <StateSettings>\r\n    <StateAbbreviation>string</StateAbbreviation>\r\n    <AgeVerification>0</AgeVerification>\r\n    <TaxType>0</TaxType>\r\n    <TaxTypeDescription>string</TaxTypeDescription>\r\n    <IsDeposit>true</IsDeposit>\r\n    <IsMultipleCoupon>true</IsMultipleCoupon>\r\n    <IsWIC>true</IsWIC>\r\n    <IsWICOnSign>true</IsWICOnSign>\r\n    <IsMealTax>true</IsMealTax>\r\n    <CouponFamilyCode>0</CouponFamilyCode>\r\n    <IsFoodStampable>true</IsFoodStampable>\r\n    <IsFrontEndScalable>true</IsFrontEndScalable>\r\n    <IsReturnable>true</IsReturnable>\r\n    <IsRefundable>true</IsRefundable>\r\n    <IsPriceRequired>true</IsPriceRequired>\r\n    <IsForcedPrice>true</IsForcedPrice>\r\n    <IsNonDiscountable>true</IsNonDiscountable>\r\n    <DepositBarcode>string</DepositBarcode>\r\n    <MaxPurchaseQuantity>0</MaxPurchaseQuantity>\r\n  </StateSettings>\r\n  <EcommerceEnabled>true</EcommerceEnabled>\r\n  <TaxCode>string</TaxCode>\r\n  <SellByUnit>string</SellByUnit>\r\n  <ItemTags>\r\n    <IsFamilyPack>true</IsFamilyPack>\r\n    <IsFreshCutVegetables>true</IsFreshCutVegetables>\r\n    <IsFoodYouFeelGoodAbout>true</IsFoodYouFeelGoodAbout>\r\n    <IsOrganic>true</IsOrganic>\r\n    <IsPrivateLabel>true</IsPrivateLabel>\r\n    <IsReadyToCook>true</IsReadyToCook>\r\n    <IsWegmansBrand>true</IsWegmansBrand>\r\n  </ItemTags>\r\n  <SoldByUOM>string</SoldByUOM>\r\n  <ConsumerBrand>string</ConsumerBrand>\r\n  <ConsumerSubBrand>string</ConsumerSubBrand>\r\n  <AuthorizedCatalogDepartment>0</AuthorizedCatalogDepartment>\r\n  <IsReducedDelivery>true</IsReducedDelivery>\r\n  <MerchantControlled>true</MerchantControlled>\r\n  <Merchant>string</Merchant>\r\n  <DiscontinueInfo>\r\n    <ReplacementItemNumber>0</ReplacementItemNumber>\r\n    <DiscontinueReason>string</DiscontinueReason>\r\n    <DiscontinueNotes>string</DiscontinueNotes>\r\n    <DiscontinueDate>string</DiscontinueDate>\r\n    <SuspendStartDate>string</SuspendStartDate>\r\n    <SuspendEndDate>string</SuspendEndDate>\r\n  </DiscontinueInfo>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</Product>",
                            "text/xml": "<Product>\r\n  <Sku>0</Sku>\r\n  <Description>string</Description>\r\n  <ShortDescription>string</ShortDescription>\r\n  <BrandName>string</BrandName>\r\n  <NumericSize>0</NumericSize>\r\n  <NumericSizeUOM>string</NumericSizeUOM>\r\n  <DepartmentNumber>0</DepartmentNumber>\r\n  <DepartmentName>string</DepartmentName>\r\n  <ProductType>string</ProductType>\r\n  <Status>string</Status>\r\n  <StatusDescription>string</StatusDescription>\r\n  <PreliminaryItemStatus>string</PreliminaryItemStatus>\r\n  <AvailableFromVendorDate>string</AvailableFromVendorDate>\r\n  <BrandOwner>string</BrandOwner>\r\n  <SubBrand>string</SubBrand>\r\n  <Color>string</Color>\r\n  <ConsumerSafetyInformation>string</ConsumerSafetyInformation>\r\n  <CountryOfOrigin>string</CountryOfOrigin>\r\n  <CountryOfOriginStatement>string</CountryOfOriginStatement>\r\n  <CouponFamilyCode>string</CouponFamilyCode>\r\n  <FirstShipDate>string</FirstShipDate>\r\n  <FormDescription>string</FormDescription>\r\n  <HandlingInstructionsCode>string</HandlingInstructionsCode>\r\n  <ProductHandling>string</ProductHandling>\r\n  <HasDisplayReadyPackaging>string</HasDisplayReadyPackaging>\r\n  <InformationProviderGlobalLocationNumber>string</InformationProviderGlobalLocationNumber>\r\n  <IsItemDisplayUnit>string</IsItemDisplayUnit>\r\n  <IsPriceOnPack>string</IsPriceOnPack>\r\n  <ItemFeatureBenefit>string</ItemFeatureBenefit>\r\n  <LabelDescription>string</LabelDescription>\r\n  <Manufacturer>string</Manufacturer>\r\n  <ManufacturerInfo>\r\n    <Manufacturer>string</Manufacturer>\r\n    <ManufacturerAddress>string</ManufacturerAddress>\r\n    <ManufacturerPhone>string</ManufacturerPhone>\r\n  </ManufacturerInfo>\r\n  <InformationProviderName>string</InformationProviderName>\r\n  <ProductDisclaimer>string</ProductDisclaimer>\r\n  <Size>string</Size>\r\n  <StorageInstructions>string</StorageInstructions>\r\n  <StudioName>string</StudioName>\r\n  <TargetConsumerAge>string</TargetConsumerAge>\r\n  <TargetConsumerGender>string</TargetConsumerGender>\r\n  <UnitsPerItem>0</UnitsPerItem>\r\n  <UsageInstructions>string</UsageInstructions>\r\n  <Warnings>string</Warnings>\r\n  <NounName>string</NounName>\r\n  <OrderOwner>string</OrderOwner>\r\n  <CreatedBy>string</CreatedBy>\r\n  <CreatedDateTime>string</CreatedDateTime>\r\n  <UpdatedBy>string</UpdatedBy>\r\n  <UpdatedDateTime>string</UpdatedDateTime>\r\n  <BuyerId>string</BuyerId>\r\n  <BuyerNumber>0</BuyerNumber>\r\n  <BuyerName>string</BuyerName>\r\n  <ReplenishmentType>string</ReplenishmentType>\r\n  <QRType>string</QRType>\r\n  <IsBigPack>true</IsBigPack>\r\n  <IsRawMaterial>true</IsRawMaterial>\r\n  <PointOfSaleDescription>string</PointOfSaleDescription>\r\n  <ConsumerDescription>string</ConsumerDescription>\r\n  <ProductLine>string</ProductLine>\r\n  <WegmansPack>0</WegmansPack>\r\n  <VendorPack>0</VendorPack>\r\n  <StoreReplenishmentQuantity>0</StoreReplenishmentQuantity>\r\n  <ReplenishmentInMultiplesOf>0</ReplenishmentInMultiplesOf>\r\n  <LegacyItemType>string</LegacyItemType>\r\n  <LegacyBarcodeUsageCode>string</LegacyBarcodeUsageCode>\r\n  <ScaleUnitOfMeasure>string</ScaleUnitOfMeasure>\r\n  <TradeIdentifierConfigurations>\r\n    <TradeIdentifiers>\r\n      <Images>\r\n        <Url>string</Url>\r\n      </Images>\r\n      <Barcodes>string</Barcodes>\r\n      <ChildQuantity>0</ChildQuantity>\r\n      <Depth>0</Depth>\r\n      <DepthUnitOfMeasure>string</DepthUnitOfMeasure>\r\n      <GlobalTradeIdentifier>0</GlobalTradeIdentifier>\r\n      <Height>0</Height>\r\n      <HeightUnitOfMeasure>string</HeightUnitOfMeasure>\r\n      <HierarchyOrder>0</HierarchyOrder>\r\n      <Identifier>string</Identifier>\r\n      <AverageSellableWeight>0</AverageSellableWeight>\r\n      <IsConsumable>true</IsConsumable>\r\n      <IsOrderable>true</IsOrderable>\r\n      <ParentGlobalTradeIdentifier>0</ParentGlobalTradeIdentifier>\r\n      <ParentIdentifier>string</ParentIdentifier>\r\n      <QuantityOfItemsPerPalletLayer>0</QuantityOfItemsPerPalletLayer>\r\n      <QuantityOfLayersPerPallet>0</QuantityOfLayersPerPallet>\r\n      <TradeItemsInACompleteLayerQuantity>0</TradeItemsInACompleteLayerQuantity>\r\n      <TradeItemUnitDescriptor>string</TradeItemUnitDescriptor>\r\n      <Weight>0</Weight>\r\n      <WeightUnitOfMeasure>string</WeightUnitOfMeasure>\r\n      <Width>0</Width>\r\n      <WidthUnitOfMeasure>string</WidthUnitOfMeasure>\r\n      <IsStoreReplenishable>true</IsStoreReplenishable>\r\n      <QuantityOfNextLowerLevelTradeItem>0</QuantityOfNextLowerLevelTradeItem>\r\n      <QuantityOfRetailUnits>0</QuantityOfRetailUnits>\r\n      <AverageCaseWeight>0</AverageCaseWeight>\r\n      <Dimension>\r\n        <Height>0</Height>\r\n        <HeightUnitOfMeasure>string</HeightUnitOfMeasure>\r\n        <Width>0</Width>\r\n        <WidthUnitOfMeasure>string</WidthUnitOfMeasure>\r\n        <Depth>0</Depth>\r\n        <DepthUnitOfMeasure>string</DepthUnitOfMeasure>\r\n        <Weight>0</Weight>\r\n        <WeightUnitOfMeasure>string</WeightUnitOfMeasure>\r\n        <DrainedWeight>0</DrainedWeight>\r\n        <DrainedWeightUnitOfMeasure>string</DrainedWeightUnitOfMeasure>\r\n        <NetWeight>0</NetWeight>\r\n        <NetWeightUnitOfMeasure>string</NetWeightUnitOfMeasure>\r\n        <PackagingWeight>0</PackagingWeight>\r\n        <PackagingWeightUnitOfMeasure>string</PackagingWeightUnitOfMeasure>\r\n        <StackingWeightMaximum>0</StackingWeightMaximum>\r\n        <StackingWeightMaximumUnitOfMeasure>string</StackingWeightMaximumUnitOfMeasure>\r\n      </Dimension>\r\n    </TradeIdentifiers>\r\n  </TradeIdentifierConfigurations>\r\n  <StateSettings>\r\n    <StateAbbreviation>string</StateAbbreviation>\r\n    <AgeVerification>0</AgeVerification>\r\n    <TaxType>0</TaxType>\r\n    <TaxTypeDescription>string</TaxTypeDescription>\r\n    <IsDeposit>true</IsDeposit>\r\n    <IsMultipleCoupon>true</IsMultipleCoupon>\r\n    <IsWIC>true</IsWIC>\r\n    <IsWICOnSign>true</IsWICOnSign>\r\n    <IsMealTax>true</IsMealTax>\r\n    <CouponFamilyCode>0</CouponFamilyCode>\r\n    <IsFoodStampable>true</IsFoodStampable>\r\n    <IsFrontEndScalable>true</IsFrontEndScalable>\r\n    <IsReturnable>true</IsReturnable>\r\n    <IsRefundable>true</IsRefundable>\r\n    <IsPriceRequired>true</IsPriceRequired>\r\n    <IsForcedPrice>true</IsForcedPrice>\r\n    <IsNonDiscountable>true</IsNonDiscountable>\r\n    <DepositBarcode>string</DepositBarcode>\r\n    <MaxPurchaseQuantity>0</MaxPurchaseQuantity>\r\n  </StateSettings>\r\n  <EcommerceEnabled>true</EcommerceEnabled>\r\n  <TaxCode>string</TaxCode>\r\n  <SellByUnit>string</SellByUnit>\r\n  <ItemTags>\r\n    <IsFamilyPack>true</IsFamilyPack>\r\n    <IsFreshCutVegetables>true</IsFreshCutVegetables>\r\n    <IsFoodYouFeelGoodAbout>true</IsFoodYouFeelGoodAbout>\r\n    <IsOrganic>true</IsOrganic>\r\n    <IsPrivateLabel>true</IsPrivateLabel>\r\n    <IsReadyToCook>true</IsReadyToCook>\r\n    <IsWegmansBrand>true</IsWegmansBrand>\r\n  </ItemTags>\r\n  <SoldByUOM>string</SoldByUOM>\r\n  <ConsumerBrand>string</ConsumerBrand>\r\n  <ConsumerSubBrand>string</ConsumerSubBrand>\r\n  <AuthorizedCatalogDepartment>0</AuthorizedCatalogDepartment>\r\n  <IsReducedDelivery>true</IsReducedDelivery>\r\n  <MerchantControlled>true</MerchantControlled>\r\n  <Merchant>string</Merchant>\r\n  <DiscontinueInfo>\r\n    <ReplacementItemNumber>0</ReplacementItemNumber>\r\n    <DiscontinueReason>string</DiscontinueReason>\r\n    <DiscontinueNotes>string</DiscontinueNotes>\r\n    <DiscontinueDate>string</DiscontinueDate>\r\n    <SuspendStartDate>string</SuspendStartDate>\r\n    <SuspendEndDate>string</SuspendEndDate>\r\n  </DiscontinueInfo>\r\n  <Links>\r\n    <Rel>string</Rel>\r\n    <HRef>string</HRef>\r\n    <Method>string</Method>\r\n  </Links>\r\n</Product>"
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/products/{sku}/food": {
            "get": {
                "description": "Moved Permanently - item food information by Item Number",
                "operationId": "Food-and-Beverage-by-SKU",
                "summary": "Moved Permanently - Food and Beverage by SKU",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "sku",
                        "in": "path",
                        "description": "Format - int32. Item Number",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "301": {
                        "description": "Moved Permanently"
                    }
                }
            }
        },
        "/products/{sku}/alcohol": {
            "get": {
                "description": "Moved Permanently - Get item alcohol information by Item Number",
                "operationId": "Alcoholic-Product-by-SKU",
                "summary": "Moved Permanently - Alcoholic Product by SKU",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "sku",
                        "in": "path",
                        "description": "Format - int32. Item Number",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "301": {
                        "description": "Moved Permanently"
                    }
                }
            }
        },
        "/products/food": {
            "get": {
                "description": "Moved Permanently - Get food item information<br />\r\nRoutes:<br />\r\n   /products/food?barcode=&lt;barcode&gt;&amp;hasCheckDigit=&lt;hasCheckDigit&gt;<br />",
                "operationId": "Food-and-Beverage-by-Barcode",
                "summary": "Moved Permanently - Food and Beverage by Barcode",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "barcode",
                        "in": "query",
                        "description": "Barcode for the item you are looking for",
                        "type": "string"
                    },
                    {
                        "name": "hasCheckDigit",
                        "in": "query",
                        "description": "Does the barcode provided contain a check digit",
                        "type": "boolean"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "301": {
                        "description": "Moved Permanently"
                    }
                }
            }
        },
        "/products/alcohol": {
            "get": {
                "description": "Moved Permanently - Get alcohol item information<br />\r\nRoutes:<br />\r\n   /products/alcohol?barcode=&lt;barcode&gt;&amp;hasCheckDigit=&lt;hasCheckDigit&gt;<br />",
                "operationId": "Alcoholic-Product-by-Barcode",
                "summary": "Moved Permanently - Alcoholic Product by Barcode",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "barcode",
                        "in": "query",
                        "description": "Barcode for the item you are looking for",
                        "type": "string"
                    },
                    {
                        "name": "hasCheckDigit",
                        "in": "query",
                        "description": "Does the barcode provided contain a check digit",
                        "type": "boolean"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "301": {
                        "description": "Moved Permanently"
                    }
                }
            }
        },
        "/products": {
            "get": {
                "description": "Get item information<br />\r\nRoutes:<br />\r\n   /products?barcode=&lt;barcode&gt;&amp;hasCheckDigit=&lt;hasCheckDigit&gt;<br />\r\n   /products?plu=&lt;plu&gt;<br />",
                "operationId": "Product-by-Barcode",
                "summary": "Product by Barcode",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "barcode",
                        "in": "query",
                        "description": "Barcode for the item you are looking for",
                        "type": "string"
                    },
                    {
                        "name": "hasCheckDigit",
                        "in": "query",
                        "description": "Does the barcode provided contain a check digit",
                        "type": "boolean"
                    },
                    {
                        "name": "plu",
                        "in": "query",
                        "description": "Product Lookup for the item",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Product"
                        },
                        "examples": {
                            "application/json": {
                                "Sku": 0,
                                "Description": "string",
                                "ShortDescription": "string",
                                "BrandName": "string",
                                "NumericSize": 0,
                                "NumericSizeUOM": "string",
                                "DepartmentNumber": 0,
                                "DepartmentName": "string",
                                "ProductType": "string",
                                "Status": "string",
                                "StatusDescription": "string",
                                "PreliminaryItemStatus": "string",
                                "AvailableFromVendorDate": "string",
                                "BrandOwner": "string",
                                "SubBrand": "string",
                                "Color": "string",
                                "ConsumerSafetyInformation": "string",
                                "CountryOfOrigin": "string",
                                "CountryOfOriginStatement": "string",
                                "CouponFamilyCode": "string",
                                "FirstShipDate": "string",
                                "FormDescription": "string",
                                "HandlingInstructionsCode": "string",
                                "ProductHandling": "string",
                                "HasDisplayReadyPackaging": "string",
                                "InformationProviderGlobalLocationNumber": "string",
                                "IsItemDisplayUnit": "string",
                                "IsPriceOnPack": "string",
                                "ItemFeatureBenefit": "string",
                                "LabelDescription": "string",
                                "Manufacturer": "string",
                                "ManufacturerInfo": {
                                    "Manufacturer": "string",
                                    "ManufacturerAddress": "string",
                                    "ManufacturerPhone": "string"
                                },
                                "InformationProviderName": "string",
                                "ProductDisclaimer": "string",
                                "Size": "string",
                                "StorageInstructions": "string",
                                "StudioName": "string",
                                "TargetConsumerAge": "string",
                                "TargetConsumerGender": "string",
                                "UnitsPerItem": 0,
                                "UsageInstructions": "string",
                                "Warnings": "string",
                                "NounName": "string",
                                "OrderOwner": "string",
                                "CreatedBy": "string",
                                "CreatedDateTime": "string",
                                "UpdatedBy": "string",
                                "UpdatedDateTime": "string",
                                "BuyerId": "string",
                                "BuyerNumber": 0,
                                "BuyerName": "string",
                                "ReplenishmentType": "string",
                                "QRType": "string",
                                "IsBigPack": true,
                                "IsRawMaterial": true,
                                "PointOfSaleDescription": "string",
                                "ConsumerDescription": "string",
                                "ProductLine": "string",
                                "WegmansPack": 0,
                                "VendorPack": 0,
                                "StoreReplenishmentQuantity": 0,
                                "ReplenishmentInMultiplesOf": 0,
                                "LegacyItemType": "string",
                                "LegacyBarcodeUsageCode": "string",
                                "ScaleUnitOfMeasure": "string",
                                "TradeIdentifierConfigurations": [
                                    {
                                        "TradeIdentifiers": [
                                            {
                                                "Images": [
                                                    {
                                                        "Url": "string"
                                                    }
                                                ],
                                                "Barcodes": [
                                                    "string"
                                                ],
                                                "ChildQuantity": 0,
                                                "Depth": 0,
                                                "DepthUnitOfMeasure": "string",
                                                "GlobalTradeIdentifier": 0,
                                                "Height": 0,
                                                "HeightUnitOfMeasure": "string",
                                                "HierarchyOrder": 0,
                                                "Identifier": "string",
                                                "AverageSellableWeight": 0,
                                                "IsConsumable": true,
                                                "IsOrderable": true,
                                                "ParentGlobalTradeIdentifier": 0,
                                                "ParentIdentifier": "string",
                                                "QuantityOfItemsPerPalletLayer": 0,
                                                "QuantityOfLayersPerPallet": 0,
                                                "TradeItemsInACompleteLayerQuantity": 0,
                                                "TradeItemUnitDescriptor": "string",
                                                "Weight": 0,
                                                "WeightUnitOfMeasure": "string",
                                                "Width": 0,
                                                "WidthUnitOfMeasure": "string",
                                                "IsStoreReplenishable": true,
                                                "QuantityOfNextLowerLevelTradeItem": 0,
                                                "QuantityOfRetailUnits": 0,
                                                "AverageCaseWeight": 0,
                                                "Dimension": {
                                                    "Height": 0,
                                                    "HeightUnitOfMeasure": "string",
                                                    "Width": 0,
                                                    "WidthUnitOfMeasure": "string",
                                                    "Depth": 0,
                                                    "DepthUnitOfMeasure": "string",
                                                    "Weight": 0,
                                                    "WeightUnitOfMeasure": "string",
                                                    "DrainedWeight": 0,
                                                    "DrainedWeightUnitOfMeasure": "string",
                                                    "NetWeight": 0,
                                                    "NetWeightUnitOfMeasure": "string",
                                                    "PackagingWeight": 0,
                                                    "PackagingWeightUnitOfMeasure": "string",
                                                    "StackingWeightMaximum": 0,
                                                    "StackingWeightMaximumUnitOfMeasure": "string"
                                                }
                                            }
                                        ]
                                    }
                                ],
                                "StateSettings": [
                                    {
                                        "StateAbbreviation": "string",
                                        "AgeVerification": 0,
                                        "TaxType": 0,
                                        "TaxTypeDescription": "string",
                                        "IsDeposit": true,
                                        "IsMultipleCoupon": true,
                                        "IsWIC": true,
                                        "IsWICOnSign": true,
                                        "IsMealTax": true,
                                        "CouponFamilyCode": 0,
                                        "IsFoodStampable": true,
                                        "IsFrontEndScalable": true,
                                        "IsReturnable": true,
                                        "IsRefundable": true,
                                        "IsPriceRequired": true,
                                        "IsForcedPrice": true,
                                        "IsNonDiscountable": true,
                                        "DepositBarcode": "string",
                                        "MaxPurchaseQuantity": 0
                                    }
                                ],
                                "EcommerceEnabled": true,
                                "TaxCode": "string",
                                "SellByUnit": "string",
                                "ItemTags": {
                                    "IsFamilyPack": true,
                                    "IsFreshCutVegetables": true,
                                    "IsFoodYouFeelGoodAbout": true,
                                    "IsOrganic": true,
                                    "IsPrivateLabel": true,
                                    "IsReadyToCook": true,
                                    "IsWegmansBrand": true
                                },
                                "SoldByUOM": "string",
                                "ConsumerBrand": "string",
                                "ConsumerSubBrand": "string",
                                "AuthorizedCatalogDepartment": 0,
                                "IsReducedDelivery": true,
                                "MerchantControlled": true,
                                "Merchant": "string",
                                "DiscontinueInfo": {
                                    "ReplacementItemNumber": 0,
                                    "DiscontinueReason": "string",
                                    "DiscontinueNotes": "string",
                                    "DiscontinueDate": "string",
                                    "SuspendStartDate": "string",
                                    "SuspendEndDate": "string"
                                },
                                "Links": [
                                    {
                                        "Rel": "string",
                                        "HRef": "string",
                                        "Method": "string"
                                    }
                                ]
                            },
                            "text/json": {
                                "Sku": 0,
                                "Description": "string",
                                "ShortDescription": "string",
                                "BrandName": "string",
                                "NumericSize": 0,
                                "NumericSizeUOM": "string",
                                "DepartmentNumber": 0,
                                "DepartmentName": "string",
                                "ProductType": "string",
                                "Status": "string",
                                "StatusDescription": "string",
                                "PreliminaryItemStatus": "string",
                                "AvailableFromVendorDate": "string",
                                "BrandOwner": "string",
                                "SubBrand": "string",
                                "Color": "string",
                                "ConsumerSafetyInformation": "string",
                                "CountryOfOrigin": "string",
                                "CountryOfOriginStatement": "string",
                                "CouponFamilyCode": "string",
                                "FirstShipDate": "string",
                                "FormDescription": "string",
                                "HandlingInstructionsCode": "string",
                                "ProductHandling": "string",
                                "HasDisplayReadyPackaging": "string",
                                "InformationProviderGlobalLocationNumber": "string",
                                "IsItemDisplayUnit": "string",
                                "IsPriceOnPack": "string",
                                "ItemFeatureBenefit": "string",
                                "LabelDescription": "string",
                                "Manufacturer": "string",
                                "ManufacturerInfo": {
                                    "Manufacturer": "string",
                                    "ManufacturerAddress": "string",
                                    "ManufacturerPhone": "string"
                                },
                                "InformationProviderName": "string",
                                "ProductDisclaimer": "string",
                                "Size": "string",
                                "StorageInstructions": "string",
                                "StudioName": "string",
                                "TargetConsumerAge": "string",
                                "TargetConsumerGender": "string",
                                "UnitsPerItem": 0,
                                "UsageInstructions": "string",
                                "Warnings": "string",
                                "NounName": "string",
                                "OrderOwner": "string",
                                "CreatedBy": "string",
                                "CreatedDateTime": "string",
                                "UpdatedBy": "string",
                                "UpdatedDateTime": "string",
                                "BuyerId": "string",
                                "BuyerNumber": 0,
                                "BuyerName": "string",
                                "ReplenishmentType": "string",
                                "QRType": "string",
                                "IsBigPack": true,
                                "IsRawMaterial": true,
                                "PointOfSaleDescription": "string",
                                "ConsumerDescription": "string",
                                "ProductLine": "string",
                                "WegmansPack": 0,
                                "VendorPack": 0,
                                "StoreReplenishmentQuantity": 0,
                                "ReplenishmentInMultiplesOf": 0,
                                "LegacyItemType": "string",
                                "LegacyBarcodeUsageCode": "string",
                                "ScaleUnitOfMeasure": "string",
                                "TradeIdentifierConfigurations": [
                                    {
                                        "TradeIdentifiers": [
                                            {
                                                "Images": [
                                                    {
                                                        "Url": "string"
                                                    }
                                                ],
                                                "Barcodes": [
                                                    "string"
                                                ],
                                                "ChildQuantity": 0,
                                                "Depth": 0,
                                                "DepthUnitOfMeasure": "string",
                                                "GlobalTradeIdentifier": 0,
                                                "Height": 0,
                                                "HeightUnitOfMeasure": "string",
                                                "HierarchyOrder": 0,
                                                "Identifier": "string",
                                                "AverageSellableWeight": 0,
                                                "IsConsumable": true,
                                                "IsOrderable": true,
                                                "ParentGlobalTradeIdentifier": 0,
                                                "ParentIdentifier": "string",
                                                "QuantityOfItemsPerPalletLayer": 0,
                                                "QuantityOfLayersPerPallet": 0,
                                                "TradeItemsInACompleteLayerQuantity": 0,
                                                "TradeItemUnitDescriptor": "string",
                                                "Weight": 0,
                                                "WeightUnitOfMeasure": "string",
                                                "Width": 0,
                                                "WidthUnitOfMeasure": "string",
                                                "IsStoreReplenishable": true,
                                                "QuantityOfNextLowerLevelTradeItem": 0,
                                                "QuantityOfRetailUnits": 0,
                                                "AverageCaseWeight": 0,
                                                "Dimension": {
                                                    "Height": 0,
                                                    "HeightUnitOfMeasure": "string",
                                                    "Width": 0,
[...]
