<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <add key="EnterpriseServices_Public" value="https://wegmans.pkgs.visualstudio.com/_packaging/EnterpriseServices_Public/nuget/v3/index.json" />
    <add key="Enterprise Library" value="https://wegmans.pkgs.visualstudio.com/_packaging/EnterpriseLibrary/nuget/v3/index.json" />
    <add key="Pharmacy Release" value="https://wegmans.pkgs.visualstudio.com/_packaging/Pharmacy-Private@Release/nuget/v3/index.json" />
    <add key="Pharmacy Prerelease" value="https://wegmans.pkgs.visualstudio.com/_packaging/Pharmacy-Private@Prerelease/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Pharmacy Local" value="https://wegmans.pkgs.visualstudio.com/_packaging/Pharmacy-Private@Local/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <apikeys>
    <add key="https://wegmans.pkgs.visualstudio.com/_packaging/EnterpriseServices_Public/nuget/v3/index.json" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAGzSuEGTMLk+bOY4I9kJBzgAAAAACAAAAAAADZgAAwAAAABAAAACQZbLx5L/PyREAxbVNhMTIAAAAAASAAACgAAAAEAAAAEOagvkw8pPscXReGzxP1WYIAAAA9tdNPZWH9zoUAAAANueZh8ZvrSyWts638A1c+c647yY=" />
  </apikeys>
  <packageSourceCredentials>
    <Pharmacy>
      <add key="Username" value="wegit" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7v2j9aJZDUWciUIsvyg5ywAAAAACAAAAAAADZgAAwAAAABAAAACtH4fE8jRDfCilTH2ss6xMAAAAAASAAACgAAAAEAAAAHl4gaRs2P1LBVUhljwCDbA4AAAAYHo/Byv8vhUI26rQPjIstualiCJzpoV6z6ymQXtxj7sEYHEBenOnK+OJohAVSau4QJG84ecfMvkUAAAAX1xjZIhE2RgOnoSPhPuPtl1p6Lw=" />
    </Pharmacy>
  </packageSourceCredentials>
</configuration>
