<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net472" />
  <package id="Dapper" version="1.50.5" targetFramework="net472" />
  <package id="DotNetZip" version="1.12.0" targetFramework="net472" />
  <package id="FluentAssertions" version="5.10.3" targetFramework="net472" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights" version="2.9.1" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights.TraceListener" version="2.9.1" targetFramework="net472" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net472" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net472" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net472" />
  <package id="Moq" version="4.12.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
  <package id="Wegmans.EnterpriseLibrary" version="4.9.1.39468" targetFramework="net472" />
  <package id="Wegmans.EnterpriseLibrary.Extensions" version="4.9.1.39468" targetFramework="net472" />
  <package id="Wegmans.EnterpriseLibrary.Logging" version="4.6.1" targetFramework="net472" />
  <package id="Wegmans.InterfaceEngine.Core" version="1.6.0" targetFramework="net472" />
  <package id="Wegmans.InterfaceEngine.Host" version="1.6.0" targetFramework="net472" />
  <package id="Wegmans.Metabase.Client.Proxies" version="1.5.2" targetFramework="net472" />
  <package id="Wegmans.Metabase.Diagnostics" version="1.8.2" targetFramework="net472" />
  <package id="Wegmans.Metabase.Proxies" version="1.8.2" targetFramework="net472" />
  <package id="Wegmans.PharmacyLibrary" version="1.2.1" targetFramework="net472" />
  <package id="Wegmans.PharmacyLibrary.Database.AppInsights" version="1.2.1" targetFramework="net472" />
  <package id="Wegmans.PharmacyLibrary.ETL" version="1.2.1" targetFramework="net472" />
  <package id="Wegmans.PharmacyLibrary.ETL.ApplicationInsights" version="1.2.1" targetFramework="net472" />
  <package id="Wegmans.PharmacyLibrary.InterfaceEngine" version="1.2.1" targetFramework="net472" />
  <package id="Wegmans.PharmacyLibrary.Logging" version="1.2.1" targetFramework="net472" />
  <package id="Wegmans.PharmacyLibrary.UnitTesting" version="1.2.1" targetFramework="net472" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net472" />
</packages>